.link-item {
  width: 379px;
  border: 2px solid black;
  border-radius: 10px;

  > .link-thumbnail {
    width: 375px;
    height: 225px;
    background-color: gray;
    border-radius: 10px;
  }

  > .link-details {
    display: flex;
    justify-content: space-between;
    padding: 10px 5px;
  }
}
