<div class="forgot-container">
  <form
    class="forgot-form"
    [formGroup]="forgotPasswordForm"
    (submit)="submitForgotApplication()"
  >
    <header>
      <p-button (click)="toggleForm()">Go Back</p-button>
      <h1>Forgot Password</h1>
    </header>

    @if (forgotFormErrors) {
      <div class="form-errors">
        <span class="material-icons-round"> error </span>
        <p>{{ forgotFormErrors }}</p>
      </div>
    }

    <p-floatlabel variant="on">
      <input
        pInputText
        type="text"
        id="forgot_email"
        formControlName="forgot_email"
        [ngClass]="{
          'p-invalid': forgot_email?.invalid && forgot_email?.touched,
        }"
      />
      <label for="forgot_email">Email</label>
    </p-floatlabel>

    @if (step1) {
      <p-floatlabel variant="on">
        <input
          pInputText
          type="number"
          id="forgot_new_pass"
          formControlName="forgot_new_pass"
          [ngClass]="{
            'p-invalid': forgot_new_pass?.invalid && forgot_new_pass?.touched,
          }"
        />
        <label for="forgot_new_pass">OTP Code</label>
      </p-floatlabel>
    }

    @if (!step1) {
      <p-button
        type="submit"
        [disabled]="forgotPasswordForm.invalid"
        class="get-code"
      >
        Get Code
      </p-button>
    }

    @if (loadingService.isLoading$ | async) {
      <p-progress-spinner
        strokeWidth="5"
        fill="transparent"
        animationDuration=".75s"
        [style]="{ width: '35px', height: '35px' }"
      />
    }
  </form>

  @if (step1 && !step2) {
    <p-button
      [disabled]="forgotPasswordForm.invalid"
      (click)="submitOTPApplication()"
      class="submit-code"
      type="button"
    >
      Submit Code
    </p-button>
  }

  @if (step2) {
    <form
      [formGroup]="newPasswordForm"
      (submit)="submitNewPasswordApplication()"
      class="new-pass-form"
    >
      <p-floatlabel variant="on">
        <input
          pInputText
          type="number"
          id="forgot_new_pass"
          formControlName="forgot_new_pass"
          [ngClass]="{
            'p-invalid': forgot_new_pass?.invalid && forgot_new_pass?.touched,
          }"
        />
        <label for="forgot_new_pass">New Password (8-20 characters)</label>
      </p-floatlabel>

      <p-floatlabel variant="on">
        <input
          pInputText
          type="number"
          id="forgot_new_pass2"
          formControlName="forgot_new_pass2"
          [ngClass]="{
            'p-invalid': forgot_new_pass2?.invalid && forgot_new_pass2?.touched,
          }"
        />
        <label for="forgot_new_pass2">Confirm New Password</label>
      </p-floatlabel>

      @if (loadingService.isLoading$ | async) {
        <p-progress-spinner
          strokeWidth="5"
          fill="transparent"
          animationDuration=".75s"
          [style]="{ width: '35px', height: '35px' }"
        />
      }
      <p-button type="submit" class="submit-new-pass"
        >Submit New Password</p-button
      >
    </form>
  }
</div>
