@import "../../../../assets/styles.scss";

.forgot-container {
  height: 40vh;
  width: 30vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
  margin: auto;

  @media screen and (max-width: 1100px) {
    width: 45vw;
  }

  @media screen and (max-width: 800px) {
    width: 75vw;
  }

  > .forgot-form,
  .new-pass-form {
    width: 30vw;
    display: flex;
    flex-direction: column;
    gap: 2vh;

    @media screen and (max-width: 1100px) {
      width: 45vw;
    }

    @media screen and (max-width: 800px) {
      width: 75vw;
    }

    > header {
      display: flex;
      gap: 20px;
      align-items: center;

      > h1 {
        color: var(--text);
        text-align: center;
        font-size: 1rem;
      }
    }

    > .submit-new-pass,
    .get-code {
      &:disabled {
        opacity: 0.5;
        &:hover {
          cursor: default;
        }
      }
    }
  }

  > .submit-code {
    margin: auto;
    &:disabled {
      opacity: 0.5;
      &:hover {
        cursor: default;
      }
    }
  }
}
