@import "../../../../assets/styles.scss";

label {
  font-weight: 600;
}

.forgot-container {
  height: 40vh;
  width: 30vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
  margin: auto;

  @media screen and (max-width: 1100px) {
    width: 45vw;
  }

  @media screen and (max-width: 800px) {
    width: 75vw;
  }

  > .forgot-form,
  .new-pass-form {
    width: 30vw;
    display: flex;
    flex-direction: column;
    gap: 2vh;

    @media screen and (max-width: 1100px) {
      width: 45vw;
    }

    @media screen and (max-width: 800px) {
      width: 75vw;
    }

    > header {
      display: flex;
      gap: 20px;
      align-items: center;

      > h1 {
        color: $text;
        text-align: center;
        font-size: 1rem;
      }

      > p {
        border: 3px solid $border;
        background: transparent;
        padding: 10px 20px;
        border-radius: 15px;
        color: $text;
        font-weight: bold;
        font-size: 0.9rem;

        &:hover {
          border-color: white;
          cursor: pointer;
        }
      }
    }

    > .submit-new-pass,
    .get-code {
      border: none;
      font-size: 1rem;
      background-color: transparent;
      border: 3px solid $accent;
      padding: 17.5px 0;
      border-radius: 15px;
      margin-top: 1vh;
      margin-bottom: 1vh;
      color: $text;
      font-weight: bold;
      transition: background-color 0.1s;

      &:hover {
        cursor: pointer;
        background-color: $accent;
      }

      &:disabled {
        opacity: 0.4;
        &:hover {
          cursor: default;
          color: $text2;
        }
      }
    }
  }

  > .submit-code {
    border: none;
    font-size: 1rem;
    background-color: transparent;
    border: 3px solid $accent;
    padding: 17.5px 25px;
    border-radius: 15px;
    margin-top: 1vh;
    margin-bottom: 1vh;
    color: $text;
    font-weight: bold;
    transition: background-color 0.1s;

    &:hover {
      cursor: pointer;
      background-color: $accent;
    }

    &:disabled {
      opacity: 0.4;
      &:hover {
        cursor: default;
        color: $text2;
      }
    }
  }
}
