<nav class="main-nav">
  <p class="nav-title">{{ title ? title : "Dashboard" }}</p>

  <div class="nav-container">
    <mat-form-field appearance="outline" [formGroup]="query" class="nav-search">
      <mat-label for="linkQuery">Search</mat-label>
      <input
        matInput
        type="text"
        formControlName="linkQuery"
        #linkQuery
        style="display: flex; align-items: center"
      />
    </mat-form-field>

    <div class="nav-buttons">
      <button (click)="toggleForm()">
        <span class="material-icons-round faq-icon">add</span>Add links
      </button>

      <mat-icon
        fontIcon="visibility"
        class="nav-preview-icon"
        [ngClass]="{ 'selected-icon': this.previews === true }"
        (click)="toggleThumbnail()"
      ></mat-icon>
    </div>

    <div *ngIf="createForm === true" class="create-form-overlay">
      <div class="create-form">
        <mat-icon
          fontIcon="close"
          (click)="toggleForm()"
          class="create-form-close"
        ></mat-icon>
        <app-link-form (closeForm)="toggleForm()"></app-link-form>
      </div>
    </div>
  </div>
</nav>
