@import "../../../../assets/styles.scss";

.main-nav {
  height: auto;
  display: flex;
  flex-direction: column;
  padding-left: 5vw;
  background-color: var(--background);
  padding-bottom: 2vh;

  > .nav-flex {
    display: flex;
    align-items: flex-end;

    @media screen and (max-width: 490px) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    > .nav-title {
      font-size: 1.35rem;
      font-weight: 600;
      margin: 2vh 0 1vh 0vw;

      @media screen and (max-width: 940px) {
        margin: 5vh 0 1vh 0vw;
      }
    }
  }

  > .nav-container {
    display: flex;
    align-items: center;
    gap: 10px;

    @media screen and (max-width: 440px) {
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;
    }

    > .nav-buttons {
      display: flex;
      align-items: center;
      gap: 10px;
      flex-wrap: wrap;

      .mass-edit {
        display: flex;
        gap: 10px;
      }
    }
  }
}
