@import "../../../../assets/styles.scss";

.main-nav {
  height: auto;
  display: flex;
  flex-direction: column;
  padding-left: 5vw;
  background-color: var(--background);

  @media screen and (max-width: 720px) {
    padding-left: 5vw;
  }

  > .nav-flex {
    display: flex;
    align-items: flex-end;

    @media screen and (max-width: 490px) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    > .nav-title {
      font-size: 1.4rem;
      font-weight: 800;
      margin: 0vh 0 2vh 0vw;
    }
  }

  > .nav-container {
    display: flex;
    align-items: center;
    gap: 10px;

    @media screen and (max-width: 440px) {
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;
    }

    > .nav-buttons {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1vw;

      @media screen and (max-width: 627px) {
        display: grid;
        grid-template-columns: 175px 100px;
        grid-template-rows: repeat(2, auto);
        row-gap: 15px;
        column-gap: 15px;
      }

      @media screen and (max-width: 400px) {
        display: grid;
        grid-template-areas:
          "a a"
          "c c"
          "b b";

        grid-template-columns: 175px 5px;

        > button {
          grid-area: a;
          width: 90%;
        }

        > mat-form-field {
          grid-area: b;
        }

        > .nav-search {
          grid-area: c;
        }
      }

      > .nav-search {
        font-weight: 600;
        height: 45px;
        width: clamp(100px, 175px, 300px);
      }
    }

    > .create-form-overlay {
      position: fixed;
      top: 0;
      left: 0;
      background-color: rgba($color: #000000, $alpha: 0.8);
      height: 100vh;
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 99;

      > .create-form {
        background-color: var(--background);
        height: auto;
        padding: 0 0 10vh 0;
        width: 30vw;
        border-radius: 8px;

        @media screen and (max-width: 1275px) {
          width: 35vw;
        }

        @media screen and (max-width: 850px) {
          width: 50vw;
        }

        @media screen and (max-width: 525px) {
          width: 65vw;
        }

        @media screen and (max-width: 425px) {
          width: 73vw;
        }

        > .create-form-close {
          font-size: 1.75rem;
          margin: 15px;
          &:hover {
            cursor: pointer;
            color: var(--accent);
          }
        }
      }
    }
  }
}
