@import "../../../../assets/styles.scss";

.main-nav {
  height: auto;
  display: flex;
  flex-direction: column;
  margin-left: 15vw;
  background-color: $background;

  > .nav-title {
    font-size: 1.4rem;
    font-weight: 600;
    margin: 5vh 0 2vh 2vw;
  }

  > .nav-container {
    display: flex;
    gap: 10px;
    align-items: center;

    > .nav-search {
      margin-top: 2vh;
      margin-left: 2vw;
    }

    > .selected-icon {
      color: $accent;
    }

    > .nav-grid-icon,
    .nav-preview-icon {
      &:hover {
        cursor: pointer;
        opacity: 0.8;
      }
    }

    > button {
      font-family: "REM";
      color: $text;
      padding: 10px 17px;
      font-weight: 700;
      background: transparent;
      border: 2px solid $accent;
      border-radius: 5px;
      display: flex;
      align-items: center;
      transition:
        background-color 0.15s ease-in-out,
        color 0.15s ease-in-out;

      &:hover {
        background-color: $accent;
        cursor: pointer;
        color: $text2;
      }
    }

    > .create-form-overlay {
      position: fixed;
      top: 0;
      left: 0;
      background-color: rgba($color: #000000, $alpha: 0.8);
      height: 100vh;
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 99;

      > .create-form {
        background-color: $background2;
        height: auto;
        padding: 0 0 10vh 0;
        width: 30vw;
        border-radius: 10px;

        > .create-form-close {
          font-size: 1.75rem;
          margin: 15px;
          &:hover {
            cursor: pointer;
            color: $accent;
          }
        }
      }
    }
  }
}
