<nav class="main-nav">
  <div class="nav-flex">
    <p class="nav-title">{{ title ? title : "Dashboard" }}</p>
    <p
      class="nav-question"
      #tooltip="matTooltip"
      matTooltip="Some link titles and previews are incorrect because some websites block web scraping. There is currently no solution, but we are constantly searching for alternatives! For now, you can edit the titles."
      (click)="tooltip.toggle()"
    >
      <u>Why are some link titles/previews incorrect?</u>
    </p>
  </div>

  <div class="nav-container">
    <mat-form-field appearance="outline" [formGroup]="query" class="nav-search">
      <mat-label for="linkQuery">Search</mat-label>
      <input
        matInput
        type="text"
        formControlName="linkQuery"
        #linkQuery
        style="display: flex; align-items: center"
      />
    </mat-form-field>

    <div class="nav-buttons">
      <button (click)="toggleForm()">
        <span class="material-icons-round faq-icon">add</span>Add links
      </button>

      <mat-icon
        fontIcon="visibility"
        class="nav-preview-icon"
        [ngClass]="{ 'selected-icon': this.previews === true }"
        (click)="toggleThumbnail()"
        matTooltip="Toggle Previews Temporarily"
      ></mat-icon>
    </div>

    <div *ngIf="createForm === true" class="create-form-overlay">
      <div class="create-form">
        <mat-icon
          fontIcon="close"
          (click)="toggleForm()"
          class="create-form-close"
        ></mat-icon>
        <app-link-form (closeForm)="toggleForm()"></app-link-form>
      </div>
    </div>
  </div>
</nav>
