<nav class="main-nav">
  <div class="nav-flex">
    <p class="nav-title">{{ title ? title : "Dashboard" }}</p>
  </div>

  <div class="nav-container">
    <div class="nav-buttons">
      <button (click)="toggleForm()" pButton>
        <i class="pi pi-plus" pButtonIcon></i>
        <p pButtonLabel>Add Link</p>
      </button>

      <p-iconfield [formGroup]="query">
        <p-inputicon class="pi pi-search" />
        <input
          type="text"
          pInputText
          placeholder="Search"
          formControlName="linkQuery"
          #linkQuery
        />
      </p-iconfield>

      <form [formGroup]="sortingForm">
        <p-select
          [options]="sort"
          optionLabel="name"
          placeholder="Sort By"
          formControlName="sortBy"
          (onChange)="submitSortingForm($event.value.value)"
        />
      </form>
    </div>

    @if (createForm === true) {
      <app-link-form (closeForm)="toggleForm()"></app-link-form>
    }
  </div>
</nav>
