<html>
  <head>
    <title>Linkstorage - Connect Extension</title>
  </head>
  <body>
    <a href="https://linkstorage.net" target="_blank" class="logo"
      >linkstorag<span>e</span></a
    >
    <h2>Connect Extension</h2>

    <section class="user">
      <p>Logged in as:</p>
      <p style="padding-top: 5px">Username: {{ user.username }}</p>
      <p>Email: {{ user.email }}</p>
    </section>

    <p class="note">
      This extension will allow you to automatically <br />
      save tabs into your linkstorage account.
    </p>

    <button id="authorize" (click)="authorizeExtension()">
      Authorize Extension
    </button>
  </body>
</html>
