@import "../../../../assets/styles.scss";

body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;

  .logo {
    font-size: 35px;
    margin-top: 25px;
    span {
      border-bottom: 5px solid var(--accent);
    }

    &:hover {
      color: var(--accent);
    }
  }

  .user {
    background: var(--background2);
    border: 1px solid lch(18.24 4.707 272);
    box-shadow: rgba(0, 0, 0, 0.07) 0px 4px 44px;
    border-radius: 8px;
    padding: 10px 25px;
  }

  .note {
    text-align: center;
    color: var(--textSec);
  }
}

button {
  background: var(--accent);
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 15px;
}
button:hover {
  background: #357ae8;
}
