@import "../../../styles.scss";

.add-link-form {
  display: flex;
  flex-direction: column;
  margin-left: 5vw;

  > h1 {
    font-size: 2rem;
    padding: 0px 0px 2vh 0px;
  }

  > button {
    background-color: $accent;
    border: none;
    border-radius: 5px;
    padding: 10px 10px;
    color: $text;
    width: 8vw;
    font-size: 1rem;
    font-weight: bold;
    transition: box-shadow 0.1s ease-in-out;
    margin-top: 2vh;

    &:hover {
      cursor: pointer;
    }
  }
}

mat-form-field {
  width: 25vw;
}
