<form class="add-link-form" [formGroup]="linkForm" (submit)="submitForm()">
  <h1>Add a link</h1>

  <div>
    <mat-form-field appearance="outline">
      <mat-label for="title">Title</mat-label>
      <input matInput type="text" #title formControlName="title" />
    </mat-form-field>
  </div>

  <div>
    <label for="url">URL</label>
    <input type="text" #url formControlName="url" />
  </div>

  <!--Maybe put this to next page of form-->
  <!-- <div>
    <label for="thumbnail">Thumbnail</label>
    <input #thumbnail formControlName="thumbnail" />
  </div> -->

  <div>
    <label for="folder">Folder</label>
    <input #folder formControlName="folder" />
  </div>

  <div>
    <label for="bookmark">Bookmark</label>
    <input type="checkbox" #bookmarked formControlName="bookmarked" />
  </div>

  <div>
    <label for="remind">Remind Me</label>
    <input type="date" #remind formControlName="remind" />
  </div>

  <button type="submit">Next</button>
</form>
