$secondary: #1c0749;
$accent: #f77a4a;

.home-page {
  .nav-bar {
    position: fixed;
    top: 0;
    background-color: white;
    display: flex;
    height: 8vh;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 1vh;
    padding-bottom: 1vh;
    border-bottom: 1px solid $secondary;

    #logo {
      font-size: 1.2rem;
      font-weight: bold;
      margin-left: 10vw;
    }

    .nav-mid {
      display: flex;
      align-items: center;
      font-size: 1.1rem;
      gap: 3vw;
      margin-left: auto;
      margin-right: auto;
      & > a {
        font-weight: 500;
      }
    }

    .nav-right {
      display: flex;
      align-items: center;
      gap: 2vw;
      justify-content: center;
      margin-right: 3vw;

      #getStarted {
        font-size: 1.1rem;
        font-weight: 600;
        color: white;
        padding: 10px 25px;
        border-radius: 5px;
        background-color: $accent;
      }

      & > a {
        font-weight: 500;
      }
    }
  }

  .landing-page {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .landing-heading {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: 4rem;
      margin-top: 20vh;
      width: 50%;
    }

    #placeholder {
      border: 2px solid black;
      border-radius: 5px;
      width: 100%;
      height: 700px;
      margin-top: 5vh;
    }
  }

  .home-features {
    margin-top: 10vh;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    > h1 {
      font-size: 3rem;
    }

    .home-features-flex {
      display: flex;
      width: 80%;
      gap: 5vw;
      margin-top: 5vh;
      justify-content: center;

      .home-features-item {
        height: 400px;
        width: 350px;
        border: 2px solid $secondary;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 30px;
        box-shadow: 15px 15px $accent;

        > h2 {
          font-size: 1.5rem;
          padding-top: 2vh;
          border-bottom: 5px solid $accent;
        }

        > p {
          text-align: center;
          padding-top: 5vh;
          line-height: 3vh;
        }
      }
    }
  }

  .home-faq {
    margin-top: 10vh;
    height: auto;

    > h1 {
      font-size: 2.5rem;
      text-align: center;
      padding-bottom: 10vh;
    }

    .landing-tutorial-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 80%;
      margin: 0 auto;
      .landing-tutorial-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 30vh;

        .landing-tutorial-item-head {
          font-size: 3rem;
          padding-bottom: 3vh;
          margin-top: 2vh;
        }

        .vl {
          background-color: $accent;
          height: 100%;
          width: 3px;
          border-radius: 5px;
          margin: 20px 0px;
        }
      }
    }
  }

  .home-contact {
    margin-top: 5vh;
    height: 60vh;
    font-size: 3rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    > h1 {
      font-size: 3rem;
    }

    .contact-form {
      display: flex;
      flex-direction: column;
      gap: 1vh;

      > button {
        border: 2px solid $secondary;
        padding: 5px 10px;
        font-size: 1.5rem;
        font-weight: 900;
        border-radius: 5px;
        transition: background-color 0.2s ease-in-out;

        &:hover {
          background-color: $secondary;
          color: $accent;
          cursor: pointer;
        }
      }

      > div {
        display: flex;
        align-items: center;
      }

      > div > label {
        font-size: 2rem;
      }

      > div > input {
        border: none;
        font-size: 1.5rem;
        margin-left: 2vw;
        border-bottom: 3px solid $secondary;

        &:focus {
          outline: none;
          border-color: #f77a4a;
        }
      }

      #message {
        resize: none;
        border: 3px solid $secondary;
        border-radius: 5px;
        font-size: 1.5rem;
        font-family: "Inter";
        font-weight: 500;
        padding: 10px;

        &:focus {
          outline: none;
          border-color: $accent;
        }
      }
    }
  }
}
