@import "../../../../../assets/styles.scss";

.add-link-form {
  display: flex;
  flex-direction: column;
  margin-left: 5vw;
  gap: 1vh;

  > h1 {
    font-size: 1.5rem;
    padding: 0px 0px 2vh 0px;
  }

  > button {
    background-color: transparent;
    border: 3px solid var(--accent);
    border-radius: 10px;
    padding: 10px 0px;
    color: var(--text);
    font-size: 1rem;
    font-weight: bold;
    transition:
      background-color 0.1s ease-in-out,
      color 0.1s ease-in-out;
    margin-top: 2vh;
    width: 100px;

    &:disabled {
      opacity: 0.5;
    }

    &:hover {
      background-color: var(--accent);
      cursor: pointer;
      color: var(--text2);
    }
  }
}

mat-form-field {
  width: 20vw;

  @media screen and (max-width: 1275px) {
    width: 27.5vw;
  }

  @media screen and (max-width: 850px) {
    width: 40vw;
  }

  @media screen and (max-width: 525px) {
    width: 58vw;
  }

  @media screen and (max-width: 425px) {
    width: 65vw;
  }
}

mat-select {
  color: var(--text);
}
