<form class="add-link-form" [formGroup]="linkForm" (submit)="submitForm()">
  <h1>Add a link</h1>

  <mat-form-field appearance="outline">
    <mat-label for="url">URL *</mat-label>
    <input matInput type="url" #url formControlName="url" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label for="folder">Folder</mat-label>
    <mat-select #folder formControlName="folder">
      <mat-option [value]="">Test</mat-option>
    </mat-select>
  </mat-form-field>

  <p>Remind me on</p>
  <mat-form-field>
    <input
      #remind
      type="datetime"
      formControlName="remind"
      matInput
      [matDatepicker]="picker"
    />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-slide-toggle #bookmarked formControlName="bookmarked">
    <p style="color: white; margin-left: 0.5vw">Bookmark</p>
  </mat-slide-toggle>

  <div class="add-link-form-buttons">
    <button type="submit">Submit</button>
    <a>Add multiple</a>
  </div>
</form>
