@import "../../../../../assets/styles.scss";

.create-form-overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color: #000000, $alpha: 0.8);
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;

  .add-link-form {
    display: flex;
    flex-direction: column;
    margin-left: 5vw;
    gap: 2vh;
    width: fit-content;

    background-color: var(--background);
    height: fit-content;
    padding: 3vh 3vw;
    width: fit-content;
    border-radius: 8px;

    span {
      > .create-form-close {
        &:hover {
          cursor: pointer;
          color: var(--accent);
        }
      }

      > h1 {
        font-size: 1.5rem;
        padding: 0px 0px 2vh 0px;
        font-weight: 900;
      }
    }
  }
}
