<div class="create-form-overlay">
  <form class="add-link-form" [formGroup]="linkForm" (submit)="submitForm()">
    <span style="display: flex">
      <h1>Add Link</h1>
      <mat-icon
        fontIcon="close"
        (click)="closeForm.emit()"
        class="create-form-close"
        style="margin-left: auto"
      ></mat-icon>
    </span>

    <p-floatlabel variant="on">
      <label for="url">URL</label>
      <input pInputText type="url" #url formControlName="url" required />
    </p-floatlabel>

    <p-select
      formControlName="folder"
      #folder
      [options]="folders"
      optionLabel="name"
      optionValue="id"
      placeholder="Select folder"
    ></p-select>

    <span>
      <p style="padding-bottom: 8px">Bookmark</p>
      <p-toggleswitch #bookmarked formControlName="bookmarked" />
    </span>

    <p-button type="submit" [disabled]="linkForm.invalid">Submit</p-button>
  </form>
</div>
