<p-dialog
  header="Add Link"
  [modal]="true"
  [style]="{ width: '25rem' }"
  [(visible)]="visible"
  (onHide)="visibleChange.emit(false)"
>
  <form [formGroup]="linkForm" (submit)="submitForm()" style="overflow: hidden">
    <div class="flex items-center gap-8 mb-4" style="padding-top: 10px">
      <p-floatlabel variant="on">
        <label for="url">URL</label>
        <input pInputText type="url" #url formControlName="url" required />
      </p-floatlabel>
    </div>

    <div class="items-center gap-4 mb-8" style="padding-bottom: 50px">
      <p-select
        formControlName="folder"
        #folder
        [options]="folders"
        optionLabel="name"
        optionValue="id"
        placeholder="Select folder"
      ></p-select>
    </div>

    <div class="gap-4 mb-4">
      <p style="padding-bottom: 8px">Bookmark</p>
      <p-toggleswitch #bookmarked formControlName="bookmarked" />
    </div>

    <p-button type="submit" [disabled]="linkForm.invalid">Submit</p-button>
  </form>
</p-dialog>
