@import "../../../../../assets/styles.scss";

.add-link-form {
  display: flex;
  flex-direction: column;
  margin-left: 5vw;
  gap: 1vh;

  > h1 {
    font-size: 1.5rem;
    padding: 0px 0px 2vh 0px;
  }

  > .add-link-form-buttons {
    display: flex;
    gap: 15px;
    align-items: center;

    @media screen and (max-width: 295px) {
      flex-direction: column;
      gap: 3px;
      align-items: flex-start;
    }

    > a {
      padding: 2vh 0 0 0;
    }

    > button {
      background-color: transparent;
      border: 2px solid $accent;
      border-radius: 15px;
      padding: 10px 10px;
      color: $text;
      font-size: 1rem;
      font-weight: bold;
      transition:
        background-color 0.15s ease-in-out,
        color 0.15s ease-in-out;
      margin-top: 2vh;

      &:hover {
        background-color: $accent;
        cursor: pointer;
        color: $text2;
      }
    }
  }
}

mat-form-field {
  width: 20vw;

  @media screen and (max-width: 1275px) {
    width: 27.5vw;
  }

  @media screen and (max-width: 850px) {
    width: 40vw;
  }

  @media screen and (max-width: 425px) {
    width: 65vw;
  }
}

mat-select {
  color: $text;
}
