@import "../../../../../assets/styles.scss";

.overlay {
  border: 1px solid rgba(255, 255, 255, 0.21);
  border-radius: 8px;

  position: fixed !important;
  z-index: 9999;
  background: var(--background);
  overflow: auto;
  width: 50vw;
  height: 50vh;

  left: 50%;
  bottom: 50%;

  > span {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: grab;
    height: 30px;

    background: rgba(255, 255, 255, 0.19);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    &:active {
      cursor: grabbing;
    }

    .pi-circle-fill {
      position: absolute;
      top: 0;
      left: 0;
      color: rgb(255, 90, 90);
      margin-left: 7px;
      margin-top: 7px;
      font-size: 12px;
      cursor: pointer;
    }
  }
}
