@import "../../../../../assets/styles.scss";

.overlay {
  position: fixed !important;
  z-index: 9999;
  background: var(--background);
  width: 60vw;
  height: 50vh;
  left: 40%;
  bottom: 50%;

  @media screen and (max-width: 1000px) {
    width: 75vw;
    left: 25%;
  }

  @media screen and (max-width: 520px) {
    width: 90vw;
    left: 10%;
  }

  > span {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: grab;
    height: 30px;

    background: var(--background2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    &:active {
      cursor: grabbing;
    }

    .pi-circle-fill {
      position: absolute;
      top: 0;
      left: 0;
      color: rgb(255, 90, 90);
      margin-left: 7px;
      margin-top: 7px;
      font-size: 12px;
      cursor: pointer;
    }
  }
}
