<p-dialog
  header="Edit Link"
  [modal]="true"
  [style]="{ width: '25rem' }"
  [(visible)]="visible"
  (onHide)="visibleChange.emit(false)"
>
  <form [formGroup]="editForm" (submit)="submitEditForm()">
    <div class="flex items-center gap-8 mb-4" style="padding-top: 10px">
      <p-floatlabel variant="on">
        <label for="editTitle">Title</label>
        <input pInputText type="text" #editTitle formControlName="editTitle" />
      </p-floatlabel>
    </div>

    <div class="items-center gap-4 mb-8" style="padding-bottom: 50px">
      <p-select
        formControlName="editFolder"
        #editFolder
        [options]="folders"
        optionLabel="name"
        optionValue="id"
        placeholder="Select folder"
      ></p-select>
    </div>

    <div class="gap-4 mb-4">
      <p style="padding-bottom: 8px">Bookmark</p>
      <p-toggleswitch #editBookmarked formControlName="editBookmarked" />
    </div>

    <p-button type="submit" [disabled]="!editForm.dirty">Confirm Edit</p-button>
  </form>
</p-dialog>
