<div class="link-item-edit-overlay">
  <form
    class="link-item-edit"
    [formGroup]="editForm"
    (submit)="submitEditForm()"
  >
    <span>
      <mat-icon
        fontIcon="close"
        (click)="toggleEditForm()"
        class="close-form"
      ></mat-icon>
    </span>

    <h1>Edit</h1>

    <mat-form-field appearance="outline">
      <mat-label for="editTitle">Title</mat-label>
      <input matInput type="text" #editTitle formControlName="editTitle" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label for="editFolder">Folder</mat-label>

      <mat-select #editFolder formControlName="editFolder">
        <mat-option *ngFor="let folder of folders" [value]="folder.id">{{
          folder.name
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <p>Remind me on</p>
    <p style="color: gray; font-size: 0.8rem">
      Current remind date -
      {{ itemData.remind ? (itemData.remind | date: "shortDate") : "N/A" }}
    </p>

    <mat-form-field>
      <input
        #editRemind
        type="datetime"
        formControlName="editRemind"
        matInput
        [matDatepicker]="editPicker"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="editPicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #editPicker></mat-datepicker>
    </mat-form-field>

    <mat-slide-toggle #editBookmarked formControlName="editBookmarked">
      <p style="color: white; margin-left: 0.5vw">Bookmark</p>
    </mat-slide-toggle>

    <button type="submit" [disabled]="!editForm.dirty">Confirm Edit</button>
  </form>
</div>
