@import "../../../../../assets/styles.scss";

.link-item-edit-overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100vw;
  height: 100vh;
  z-index: 99;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;

  > .link-item-edit {
    position: absolute;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    width: fit-content;
    height: auto;
    gap: 2vh;
    justify-content: center;
    padding: 3vh 3vw;

    > span {
      > .close-form {
        transform: scale(1);
        transition: color 0.1s ease-in-out;
        margin-right: 15vw;
        position: absolute;
        top: 0;
        right: 0;
        margin: 15px 15px;

        &:hover {
          color: var(--accent);
          cursor: pointer;
        }
      }
    }

    > h1 {
      padding-bottom: 1.25vh;
      text-align: center;
      font-size: 1.5rem;
      font-weight: 900;
    }

    > button {
      border: none;
      border: 2px solid var(--text);
      padding: 10px 3vw;
      background-color: transparent;
      margin-top: 3vh;
      color: var(--text);
      border-radius: 8px;
      font-weight: 700;
      transition: background-color 0.1s ease-in-out;
      display: flex;
      align-items: center;
      justify-content: center;

      &:disabled {
        opacity: 0.4;
        &:hover {
          cursor: default;
        }
      }

      &:hover {
        cursor: pointer;
        color: var(--text2);
      }
    }
  }
}
