<div class="link-item-edit-overlay">
  <form
    class="link-item-edit"
    [formGroup]="editForm"
    (submit)="submitEditForm()"
  >
    <span>
      <mat-icon
        fontIcon="close"
        (click)="toggleEditForm()"
        class="close-form"
      ></mat-icon>
    </span>

    <h1>EDIT</h1>

    <p-floatlabel variant="on">
      <label for="editTitle">Title</label>
      <input pInputText type="text" #editTitle formControlName="editTitle" />
    </p-floatlabel>

    <p-select
      formControlName="editFolder"
      #editFolder
      [options]="folders"
      optionLabel="name"
      optionValue="id"
      placeholder="Select folder"
    ></p-select>

    <span>
      <p style="padding-bottom: 8px">Bookmark</p>
      <p-toggleswitch #editBookmarked formControlName="editBookmarked" />
    </span>

    <p-button type="submit" [disabled]="!editForm.dirty">Confirm Edit</p-button>
  </form>
</div>
