@import "../../../assets/styles.scss";

.home-page {
  background-color: $background;
  color: $text;

  .landing-page {
    width: 100%;
    height: 24vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .landing-heading {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: 4rem;
      margin-top: 20vh;
      width: 50%;
    }

    .landing-body {
      display: flex;
      gap: 2.5vw;
      margin-top: 5vh;

      > a {
        color: white;
        background-color: black;
        border-radius: 5px;
        padding: 1em;
        transition: box-shadow 0.15s ease-in-out;

        &:hover {
          box-shadow: 1px 1px 10px rgb(41, 41, 41);
        }
      }
    }
  }

  .home_features {
    margin-top: 25vh;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh;

    > h1 {
      font-size: 1.5rem;
    }

    .home-features-flex {
      display: flex;
      width: 80%;
      gap: 5vw;
      margin-top: 5vh;
      justify-content: center;

      .home-features-item {
        height: 300px;
        width: 250px;
        border: 1px solid #b6b4b4;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 30px;
        box-shadow: 5px 5px $accent;
        gap: 1.5vh;

        > h2 {
          font-size: 1.5rem;
          padding-top: 2vh;
          border-bottom: 5px solid $accent;
        }

        > p {
          text-align: center;
          padding-top: 5vh;
          line-height: 3vh;
        }
      }
    }
  }

  .home_faq {
    margin-top: 3.5vh;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 110vh;

    > h1 {
      font-size: 1.5rem;
      text-align: center;
      padding-bottom: 6vh;
    }

    .home-faq-container {
      display: flex;
      flex-direction: column;
      gap: 4vh;
      width: 75%;

      .faq-item {
        min-height: 65px;
        transition: color 0.15s ease-in-out;

        &:hover {
          cursor: pointer;
          color: $accent;
        }

        .faq-flex {
          display: flex;

          > p {
            font-weight: 900;
            font-size: 1rem;
            margin-right: auto;
          }
        }
        .faq-answer {
          width: 75%;
          height: 50px;
          padding: 25px 0px 50px 0px;
        }
      }
    }
  }

  .home_contact {
    height: 60vh;
    font-size: 1.1rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 15vh;

    .contact-form {
      display: flex;
      flex-direction: column;
      gap: 5vh;

      > h1 {
        text-align: center;
      }

      > button {
        border: none;
        padding: 15px 10px;
        font-size: 1.15rem;
        font-weight: 600;
        transition: box-shadow 0.15s ease-in-out;
        background-color: $accent;
        margin-top: 10vh;
        border-radius: 5px;
        color: white;

        &:hover {
          cursor: pointer;
          box-shadow: 1px 1px 10px $accent;
        }
      }
    }
  }

  .foot-note {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6vh;
    background-color: $accent;
    font-size: 1.1rem;
    font-weight: bold;
    color: white;

    > a {
      color: white;
    }
  }
}

mat-form-field {
  width: 20vw;
  height: 5vh;
}

textarea {
  resize: none;
}
