<main class="home-page">
  <header class="landing-page" #home>
    <nav class="landing-nav">
      <span class="landing-nav-left">
        <h1>linkstorag<span>e</span></h1>

        <a routerLink="/versions">Changelogs</a>

        <span
          class="material-symbols-outlined theme-toggle"
          (click)="toggleTheme('light')"
          *ngIf="this.theme === 'dark'"
        >
          light_mode
        </span>

        <span
          class="material-symbols-outlined theme-toggle"
          (click)="toggleTheme('dark')"
          *ngIf="this.theme === 'light'"
        >
          dark_mode
        </span>
      </span>

      <span class="landing-nav-right">
        <a routerLink="/user/login" *ngIf="!user" class="home-login">Log in</a>

        <a routerLink="/user/register" *ngIf="!user" class="register-button">
          Get started
        </a>

        <a
          routerLink="/dashboard"
          *ngIf="user"
          class="register-button dashboard-button"
          >Dashboard</a
        >
      </span>
    </nav>

    <h1 class="landing-title">Save + Preview & Track Your Links with Ease</h1>
    <section *ngIf="this.data" class="landing-stats">
      <div class="landing-stats-items">
        <p>{{ this.data.links }}+ <span>links archived</span></p>
      </div>
    </section>

    <div class="landing-body">
      <a routerLink="/user/register" *ngIf="!user" class="register-button">
        Try for free
      </a>

      <a routerLink="/dashboard" *ngIf="user" class="dashboard-button"
        >Dashboard</a
      >

      <section class="home_showcase">
        <div class="showcase_header" (click)="toggleShowcase()">
          <span class="material-icons-round"> play_circle </span>
          <h1>See Demo</h1>
        </div>
      </section>
    </div>
  </header>

  <div class="showcase_border" *ngIf="videoShowcase">
    <iframe
      width="800"
      height="500"
      src="https://www.youtube.com/embed/q3HFTjwvVt0?si=LLyWHJDvOqEBQqz7?autoplay=1&mute=1"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
      class="showcase_video"
    ></iframe>
  </div>

  <section class="home_picture">
    <img
      src="../../../assets/667shots_so.png"
      alt="Image of linkstorage's dashboard"
    />
  </section>

  <section class="home_transparency">
    <h1>
      Full <span>Transparency</span> <br />
      Code in Its Pure Form
    </h1>

    <a href="https://github.com/JasonCqq/link-saver" target="_blank">
      <img
        src="../../../assets/transparency.png"
        alt="Image of linkstorage's github source code"
      />
    </a>
  </section>

  <section #home_features class="home_features">
    <h1>FEATURES</h1>
    <div class="home-features-grid">
      <div class="home-features-item">
        <span>
          <span class="material-icons-round home-features-icon">
            view_list
          </span>
        </span>

        <span>
          <h2>Auto group/section</h2>
          <p>Automatically group similar websites and separate by sections</p>
        </span>
      </div>

      <div class="home-features-item">
        <span>
          <mat-icon fontIcon="share" class="home-features-icon"></mat-icon>
        </span>

        <span>
          <h2>Share links/folders</h2>
          <p>
            Share publicly or privately with a password.
            <a routerLink="/public/1" target="_blank"
              ><u>Check out our folder!</u></a
            >
          </p>
        </span>
      </div>

      <div class="home-features-item">
        <span>
          <mat-icon fontIcon="panorama" class="home-features-icon"></mat-icon>
        </span>

        <span>
          <h2>Thumbnails</h2>
          <p>Easily preview stored links with website thumbnails.</p>
        </span>
      </div>

      <div class="home-features-item">
        <span>
          <mat-icon
            fontIcon="manage_search"
            class="home-features-icon"
          ></mat-icon>
        </span>

        <span>
          <h2>Search/Filter</h2>
          <p>Find links with search/sort functions, by visits name or date</p>
        </span>
      </div>

      <div class="home-features-item">
        <span>
          <span class="material-icons-round home-features-icon">
            edit_note
          </span>
        </span>

        <span>
          <h2>Mass Edit</h2>
          <p>Quickly edit/move/delete multiple links at once.</p>
        </span>
      </div>
    </div>
  </section>

  <section id="home_faq" class="home_faq">
    <div class="home-faq-container">
      <div
        class="faq-item"
        *ngFor="let faq of faqs"
        (click)="toggleFAQ(faq.id)"
      >
        <div class="faq-flex">
          <p>{{ faq.question }}</p>
          <span class="material-icons-round faq-icon">add</span>
        </div>
        <p class="faq-answer" *ngIf="activeID === faq.id">{{ faq.answer }}</p>
      </div>
    </div>
  </section>

  <section id="home_contact" class="home_contact">
    <form
      class="contact-form"
      action="https://formsubmit.co/jason.cq.huang@gmail.com"
      method="POST"
    >
      <h1>CONTACT</h1>

      <mat-label for="name">Name</mat-label>
      <mat-form-field appearance="fill">
        <input matInput type="text" #name required name="name" />
      </mat-form-field>

      <mat-label for="email">Email</mat-label>
      <mat-form-field appearance="fill">
        <input matInput type="email" #email required name="email" />
      </mat-form-field>

      <mat-label for="message" style="padding-bottom: 8px">Message</mat-label>
      <mat-form-field class="home-message">
        <textarea
          matInput
          #message
          type="text"
          required
          rows="1"
          name="message"
          cdkTextareaAutosize
        ></textarea>
      </mat-form-field>

      <button type="submit">Send Message</button>
    </form>
  </section>

  <footer class="foot-note">
    <p routerLink="/versions">v2.1.0</p>

    <a href="https://github.com/JasonCqq/link-saver" target="_blank"
      >Source Code</a
    >

    <a
      href="https://www.termsfeed.com/live/a23806e5-a8bc-4542-a4fc-230353a493dc"
      target="_blank"
      >Privacy Policy</a
    >
  </footer>
</main>
