<main class="home-page">
  <header class="landing-page" #home>
    <nav class="landing-nav">
      <span class="landing-nav-left">
        <h1>linkstorag<span>e</span></h1>

        <a routerLink="/versions">Updates</a>
        <a href="https://github.com/JasonCqq/link-saver" target="_blank"
          >Github</a
        >
      </span>

      <span class="landing-nav-right">
        @if (!user) {
          <p-button routerLink="/user/login" class="home-login"
            >Log In</p-button
          >
        }

        @if (!user) {
          <p-button routerLink="/user/register"> Register </p-button>
        }

        @if (user) {
          <p-button
            routerLink="/dashboard"
            class="register-button dashboard-button"
            >Dashboard</p-button
          >
        }
      </span>
    </nav>

    <h1 class="landing-title">Save + Preview & Track Your Links</h1>
    <p></p>
  </header>

  <section class="home_gallery">
    <div class="gallery-flex">
      <p
        (click)="changePic(0)"
        [ngClass]="activePic === 0 ? 'active-img' : 'inactive-img'"
      >
        <mat-icon fontIcon="dashboard"></mat-icon>
        Dashboard
      </p>
      <p
        (click)="changePic(1)"
        [ngClass]="activePic === 1 ? 'active-img' : 'inactive-img'"
      >
        <mat-icon fontIcon="description"></mat-icon>
        URL Bank
      </p>
      <p
        (click)="changePic(2)"
        [ngClass]="activePic === 2 ? 'active-img' : 'inactive-img'"
      >
        <mat-icon fontIcon="share"></mat-icon>
        Folder Sharing
      </p>
      <p
        (click)="changePic(3)"
        [ngClass]="activePic === 3 ? 'active-img' : 'inactive-img'"
      >
        <mat-icon fontIcon="folder"></mat-icon>
        Folders
      </p>
    </div>

    <div class="gallery-back">
      <om-border-beam animationDuration="8s" borderRadius="8px">
        <img
          [@fadeInOut]="animState"
          [src]="pictures[activePic].src"
          alt="Showcase images for linkstorage"
        />
      </om-border-beam>
    </div>
  </section>

  <section class="home_transparency">
    <div class="home_transparency_title">
      <h1>Our Source Code</h1>
      <p>Full transparency, code in its purest form.</p>
    </div>

    <div class="home_transparency_content">
      <a href="https://github.com/JasonCqq/link-saver" target="_blank">
        <img
          src="../../../assets/transparency.png"
          alt="Image of linkstorage's github source code"
        />
      </a>
    </div>
  </section>

  <section #home_features class="home_features">
    <div class="home-features-grid">
      <div class="home-features-item">
        <span>
          <mat-icon fontIcon="description"></mat-icon>
          <h2>URL Bank</h2>
        </span>

        <p>Quickly store multiple links in text format</p>
      </div>

      <div class="home-features-item">
        <span>
          <mat-icon fontIcon="view_list"></mat-icon>
          <h2>Auto group (TBD)</h2>
        </span>

        <p>Automatically group similar websites</p>
      </div>

      <div class="home-features-item">
        <span>
          <mat-icon fontIcon="share"></mat-icon>
          <h2>Share links/folders</h2>
        </span>

        <p>
          Share publicly or privately with a password.
          <a routerLink="/public/1" target="_blank"><u>Example</u></a>
        </p>
      </div>

      <div class="home-features-item">
        <span>
          <mat-icon fontIcon="panorama"></mat-icon>
          <h2>Thumbnails</h2>
        </span>

        <p>Easily preview stored links with website thumbnails.</p>
      </div>

      <div class="home-features-item">
        <span>
          <mat-icon fontIcon="manage_search"></mat-icon>
          <h2>Search/Filter</h2>
        </span>

        <p>Find links with search/sort functions, by visits name or date</p>
      </div>

      <div class="home-features-item">
        <span>
          <mat-icon fontIcon="edit_note"></mat-icon>
          <h2>Mass Edit</h2>
        </span>

        <p>Quickly edit/move/delete multiple links at once.</p>
      </div>
    </div>
  </section>

  <section id="home_faq" class="home_faq">
    <div class="home-faq-title">
      <h1>Frequently Asked Questions</h1>

      <p>
        Have questions? Have a read through some of our FAQs <br />
        or contact us below or on github
      </p>
    </div>

    <p-accordion class="home-faq-container" [value]="0">
      @for (faq of faqs; track faq) {
        <p-accordion-panel class="faq-item" [value]="faq.id">
          <p-accordion-header>{{ faq.question }}</p-accordion-header>
          <p-accordion-content>
            <p class="m-0">{{ faq.answer }}</p>
          </p-accordion-content>
        </p-accordion-panel>
      }
    </p-accordion>
  </section>

  <section id="home_contact" class="home_contact">
    <p-button
      class="contact-title"
      pTooltip="jasonh21715@gmail.com"
      tooltipPosition="right"
    >
      Contact Us
    </p-button>
  </section>

  <footer class="foot-note">
    <p routerLink="/versions">2.2</p>

    <a href="https://github.com/JasonCqq/link-saver" target="_blank"
      >Source Code</a
    >

    <a routerLink="/privacy">Privacy Policy</a>

    <a routerLink="/terms">Terms of Service</a>
  </footer>
</main>
