@import "../../../assets/styles.scss";

.home-page {
  background-color: $background;
  color: $text;

  .landing-page {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .landing-heading {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: 2.75rem;
      margin-top: 7.5vh;
      width: 50%;
    }

    .landing-body {
      display: flex;
      gap: 4vw;
      margin-top: 10vh;

      @media screen and (max-width: 800px) {
        gap: 10vw;
      }

      > a {
        color: $text2;
        background-color: $secondary;
        border-radius: 15px;
        padding: 1rem;
        transition: box-shadow 0.15s ease-in-out;
        font-weight: 600;

        &:hover {
          box-shadow: 1px 1px 15px $accent;
        }
      }
    }
  }

  .home_features {
    margin-top: 12.5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;

    > h1 {
      font-size: 17.5px;
    }

    .home-features-grid {
      display: grid;
      width: 60vw;
      margin-top: 5vh;
      column-gap: 2vw;
      row-gap: 3vh;
      grid-template-columns: repeat(2, 1fr);

      @media screen and (max-width: 1150px) {
        width: 70vw;
      }

      @media screen and (max-width: 760px) {
        grid-template-columns: repeat(1, 1fr);
      }

      @media screen and (max-width: 390px) {
        row-gap: 4vh;
      }

      .home-features-item {
        display: flex;
        background-color: #27292a;
        align-items: center;
        justify-content: flex-start;
        border-radius: 15px;
        min-height: 100px;
        gap: 2vw;

        @media screen and (max-width: 390px) {
          padding: 3vh 0vw;
        }

        > span {
          > p {
            color: $textSec;
            font-size: 0.85rem;
            width: 95%;
          }

          > h2 {
            font-size: 1rem;
            padding-bottom: 5px;
          }

          > .home-features-icon {
            color: $accent;
            transform: scale(1.75);
            margin-left: 2vw;

            @media screen and (max-width: 620px) {
              transform: scale(1.25);
            }

            @media screen and (max-width: 350px) {
              transform: scale(1);
            }
          }
        }
      }
    }
  }

  .home_showcase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3vh;
    margin-top: 10vh;

    > h1 {
      font-size: 1.2rem;
    }

    > .showcase_video {
      border-radius: 15px;
      border: 3px solid $accent;

      @media screen and (max-width: 580px) {
        width: 400px;
        height: 250px;
      }

      @media screen and (max-width: 415px) {
        width: 250px;
        height: 150px;
      }
    }
  }

  @keyframes fadeIn {
    0% {
      display: none;
      opacity: 0;
    }

    1% {
      display: block;
      opacity: 0;
    }

    100% {
      display: block;
      opacity: 1;
    }
  }

  .home_faq {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15vh;

    > h1 {
      font-size: 1.5rem;
      text-align: center;
      padding-bottom: 6vh;
    }

    .home-faq-container {
      display: flex;
      flex-direction: column;
      gap: 3vh;
      width: 85%;

      .faq-item {
        transition: color 0.15s ease-in-out;

        &:hover {
          cursor: pointer;
          color: $accent;
        }

        .faq-flex {
          display: flex;

          > p {
            font-weight: 700;
            font-size: 1rem;

            @media screen and (max-width: 815px) {
              font-size: 0.85rem;
              font-weight: 500;
            }

            @media screen and (max-width: 415px) {
              font-size: 0.75rem;
              font-weight: 500;
            }
          }

          > .faq-icon {
            margin-left: auto;
            color: $accent;
            transform: scale(1);

            @media screen and (max-width: 415px) {
              transform: scale(0.75);
            }

            @media screen and (max-width: 300px) {
              transform: scale(0.5);
            }
          }
        }
        .faq-answer {
          width: 80%;
          height: auto;
          padding-top: 2vh;
          animation: 0.25s ease-in-out 0s 1 fadeIn;
          color: $accent;
        }
      }
    }
  }

  .home_contact {
    height: auto;
    font-size: 1.1rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 15vh;
    margin-top: 20vh;

    .contact-form {
      display: flex;
      flex-direction: column;
      gap: 5vh;

      > h1 {
        text-align: center;
      }

      > button {
        border: 2px solid $accent;
        padding: 15px 10px;
        font-size: 1.15rem;
        font-weight: 600;
        background-color: transparent;
        margin-top: 12.5vh;
        border-radius: 15px;
        color: $text;
        transition:
          background-color 0.15s ease-in-out,
          color 0.15s ease-in-out;

        &:hover {
          background-color: $accent;
          cursor: pointer;
          color: $text2;
        }
      }
    }
  }

  .foot-note {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
    background-color: $accent;
    font-size: 0.8rem;
    font-weight: bold;
    color: $text2;

    > a {
      color: $text2;
    }
  }
}

mat-form-field {
  width: 35vw;
  height: 5vh;

  @media screen and (max-width: 1000px) {
    width: 65vw;
  }
}

textarea {
  resize: none;
}
