@import "../../../assets/styles.scss";

.home-page {
  color: var(--text);
  background: var(--background);

  > .landing-page {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    > .landing-nav {
      display: flex;
      align-items: center;
      width: 100vw;
      font-weight: 700;
      padding-top: 15px;
      padding-bottom: 10px;
      position: fixed;
      background-color: var(--background);
      z-index: 2;

      > .landing-nav-left {
        display: flex;
        align-items: center;
        gap: 25px;
        margin-left: 23vw;

        @media screen and (max-width: 1400px) {
          margin-left: 5vw;
        }
        @media screen and (max-width: 650px) {
          gap: 15px;
        }

        > span {
          display: flex;
          gap: 15px;

          > a {
            font-size: 12px;
            color: var(--textSec);
            &:hover {
              color: var(--text);
            }

            @media screen and (max-width: 850px) {
              display: none;
            }
          }
        }

        > h1 {
          padding-bottom: 5px;
          font-size: 2rem;
          font-weight: 900;

          @media screen and (max-width: 750px) {
            font-size: 1.5rem;
          }

          @media screen and (max-width: 400px) {
            font-size: 1rem;
          }

          > span {
            border-bottom: 5px solid var(--accent);
          }
        }
      }

      > .landing-nav-right {
        margin-left: auto;
        margin-right: 24vw;
        display: flex;
        align-items: center;
        gap: 15px;

        @media screen and (max-width: 1400px) {
          margin-right: 5vw;
        }

        @media screen and (max-width: 500px) {
          margin-right: 10px;
        }

        > .home-login {
          @media screen and (max-width: 330px) {
            font-size: 0.85rem;
          }

          &:hover {
            color: var(--accent);
          }
        }
      }

      > a {
        margin-left: 10px;
        color: var(--text);
        &:hover {
          color: var(--accent);
        }
      }
    }

    > .landing-title {
      margin-top: 15vh;
      text-align: center;
      font-weight: 800;
      font-size: 3rem;

      @media screen and (max-width: 1100px) {
        font-size: 2rem;
      }

      @media screen and (max-width: 450px) {
        font-size: 1.25rem;
        width: 90vw;
      }
    }

    > .landing-subtext {
      color: var(--textSec);
      padding-top: 10px;
    }
  }

  > .home_transparency {
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    width: auto;
    -webkit-mask-image: linear-gradient(180deg, #000 50%, transparent);

    > .home_transparency_title {
      padding-left: 25vw;
      padding-bottom: 20px;

      @media screen and (max-width: 800px) {
        padding-left: 5vw;
      }

      > h1 {
        font-size: 2rem;

        @media screen and (max-width: 400px) {
          font-size: 1.25rem;
        }
      }

      > p {
        font-weight: 500;
        color: var(--textSec);
      }
    }

    > .home_transparency_content {
      background: transparent;
      background-image: radial-gradient(
        rgba(107, 107, 107, 0.492) 1px,
        transparent 0
      );
      background-size: 40px 40px;
      background-position: -19px 19px;

      width: 60%;
      margin: auto;

      @media screen and (max-width: 1200px) {
        width: 75%;
      }

      @media screen and (max-width: 650px) {
        width: 100%;
      }

      > a {
        > img {
          width: 100%;
          transition: transform 0.15s ease-in-out;
          &:hover {
            transform: scale(1.05);
          }
        }
      }
    }
  }

  .home_gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin-top: 10vh;
    width: auto;
    -webkit-mask-image: linear-gradient(180deg, #000 50%, transparent);

    > .gallery-flex {
      display: flex;
      gap: 20px;

      @media screen and (max-width: 625px) {
        gap: 5px;
      }

      @media screen and (max-width: 450px) {
        display: grid;
        grid-template-columns: repeat(2, 125px);
        column-gap: 5vw;
        margin-bottom: 25px;
      }

      > .active-img {
        background-color: white;
        color: var(--text2);
        border: 1px solid var(--text);
        font-weight: 600;
      }

      > p {
        border-radius: 8px;
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 25px;
        padding: 7px 15px;
        background-color: none;

        display: flex;
        align-items: center;
        gap: 3px;

        @media screen and (max-width: 450px) {
          margin-bottom: 7px;
        }

        @media screen and (max-width: 625px) {
          font-size: 11px;
          padding: 5px 10px;
          gap: 1px;
        }

        > mat-icon {
          transform: scale(0.7);
        }

        transition:
          color 0.075s ease-in-out,
          background-color 0.075s ease-in-out;

        &:hover {
          background-color: white;
          color: var(--text2);
          cursor: pointer;
        }
      }
    }

    .gallery-back {
      border-radius: 8px;
      box-shadow: 5px 5px 60px rgba(41, 41, 41, 0.5);
      width: 65vw;
      border-width: 5px;

      img {
        border-radius: 8px;
        width: 95%;
        height: 95%;
      }

      @media screen and (max-width: 1280px) {
        width: 95vw;
      }
    }
  }

  @keyframes fadeIn {
    0% {
      display: none;
      opacity: 0;
    }

    1% {
      display: block;
      opacity: 0;
    }

    100% {
      display: block;
      opacity: 1;
    }
  }

  > .home_features {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: auto;
    margin-top: 20vh;
    align-items: center;

    @media screen and (max-width: 380px) {
      margin-top: 12.5vh;
    }

    .home-features-grid {
      display: grid;
      align-items: center;
      justify-content: center;
      width: 55vw;
      grid-template-columns: repeat(3, 1fr);
      border-radius: 8px;
      column-gap: 5vw;

      @media screen and (max-width: 1150px) {
        width: 75vw;
      }

      @media screen and (max-width: 1000px) {
        width: 85vw;
      }

      @media screen and (max-width: 850px) {
        width: 90vw;
        row-gap: 2vh;
        grid-template-columns: repeat(2, 1fr);
      }

      @media screen and (max-width: 380px) {
        row-gap: 0;
      }

      .home-features-item {
        flex-direction: column;
        display: flex;
        justify-content: flex-start;
        border-radius: 8px;
        min-height: 125px;
        gap: 10px;
        max-width: 250px;

        @media screen and (max-width: 390px) {
          padding: 3vh 0vw;
          text-align: center;
          flex-direction: column;
        }

        > span {
          display: flex;
          gap: 5px;
          align-items: center;

          > h2 {
            font-size: 1rem;
            font-weight: 500;
            letter-spacing: 0.5px;

            @media screen and (max-width: 380px) {
              font-size: 12px;
            }
          }

          > mat-icon {
            color: var(--text);
            transform: scale(0.75);
          }
        }

        > p {
          color: var(--textSec);
          font-size: 13.5px;
          line-height: 22.5px;
          font-weight: 500;
          padding-left: 5px;

          @media screen and (max-width: 380px) {
            display: none;
          }
        }
      }
    }
  }

  .home_faq {
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 20vh;

    @media screen and (max-width: 380px) {
      margin-top: 12.5vh;
    }

    @media screen and (max-width: 900px) {
      flex-direction: column;
      align-items: center;
      gap: 5vh;
      justify-content: center;
    }

    > .home-faq-title {
      padding-right: 5vw;

      > h1 {
        font-size: 2rem;
        padding-bottom: 10px;

        @media screen and (max-width: 900px) {
          text-align: center;
        }
      }

      > p {
        color: var(--textSec);
        font-weight: 500;
        @media screen and (max-width: 900px) {
          text-align: center;
        }
      }
    }

    .home-faq-container {
      display: flex;
      flex-direction: column;
      width: 40%;

      @media screen and (max-width: 900px) {
        width: 90%;
      }
    }
  }

  .home_contact {
    height: auto;
    margin-bottom: 12.5vh;
    margin-top: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;

    > .contact-title {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      width: max-content;

      transition: color 0.1s ease-in-out;
      &:hover {
        color: var(--accent);
        cursor: pointer;
      }
    }
  }

  .foot-note {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    font-weight: bold;
    color: var(--textSec);
    gap: 15px;
    height: 7vh;

    > a,
    p {
      color: var(--textSec);

      &:hover {
        color: var(--accent);
        cursor: pointer;
      }
    }
  }
}
