<main class="home-page">
  <header class="landing-page" #home>
    <div class="landing-heading">
      <section>LinkStorage</section>
    </div>
    <p>125,258 links saved</p>
    <div class="landing-body">
      <a routerLink="/user/login" *ngIf="!user">Log in</a>
      <a routerLink="/user/register" *ngIf="!user" class="nav-button">
        Register
      </a>
      <a routerLink="/dashboard" *ngIf="user" class="nav-button">Dashboard</a>
    </div>
  </header>

  <section #home_features class="home_features">
    <h1>Features</h1>
    <div class="home-features-flex">
      <div class="home-features-item">
        <h2>Folders</h2>
        <p>
          Quickly find your links with folders saved to accounts, you can
          navigate your links easily.
        </p>
      </div>
      <div class="home-features-item">
        <h2>Visualization</h2>
        <p>
          Every saved link is simple, allowing you to identify your content at a
          glance.
        </p>
      </div>
      <div class="home-features-item">
        <h2>Simplified</h2>
        <p>
          Hassle-free link saving with our user-friendly interface, making it
          easy to stay organized
        </p>
      </div>
    </div>
  </section>

  <section #home_faq class="home_faq">
    <h1>FAQ</h1>

    <div class="home-faq-container">
      <div
        class="faq-item"
        *ngFor="let faq of faqs"
        (click)="toggleFAQ(faq.id)"
      >
        <div class="faq-flex">
          <p>{{ faq.question }}</p>
          <mat-icon
            fontIcon="add"
            style="color: #179e7e; transform: scale(1.25)"
          ></mat-icon>
        </div>
        <p class="faq-answer" *ngIf="activeID === faq.id">{{ faq.answer }}</p>
      </div>
    </div>
  </section>

  <section #home_contact class="home_contact">
    <form
      class="contact-form"
      action="https://formsubmit.co/jason.cq.huang@gmail.com"
      method="POST"
    >
      <h1>CONTACT</h1>

      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput type="text" #name required />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="email" #email required />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Subject</mat-label>
        <input matInput type="text" #subject required />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Your Message</mat-label>
        <textarea matInput #message type="text" required rows="5"></textarea>
      </mat-form-field>

      <button type="submit">Send Message</button>
    </form>
  </section>

  <footer class="foot-note">
    Experimental Project -
    <a href="https://github.com/JasonCqq/link-saver" target="_blank"
      ><u> GitHub</u></a
    >
  </footer>
</main>
