@import "../../../assets/styles.scss";

.home-page {
  color: var(--text);
  background: var(--background);

  > .landing-page {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    > .landing-nav {
      display: flex;
      align-items: center;
      width: 100vw;
      font-weight: 700;
      padding-top: 25px;
      padding-bottom: 15px;
      position: fixed;
      background-color: var(--background);
      z-index: 2;

      > .landing-nav-left {
        display: flex;
        align-items: center;
        gap: 25px;
        margin-left: 25vw;

        @media screen and (max-width: 1400px) {
          margin-left: 5vw;
        }
        @media screen and (max-width: 650px) {
          gap: 15px;
        }

        > h1 {
          padding-bottom: 5px;
          font-size: 2rem;
          font-weight: 900;
          letter-spacing: 1px;

          @media screen and (max-width: 750px) {
            font-size: 1.5rem;
          }

          @media screen and (max-width: 400px) {
            font-size: 1rem;
          }

          > span {
            border-bottom: 5px solid var(--accent);
          }
        }

        > a {
          &:hover {
            color: var(--accent);
          }

          @media screen and (max-width: 850px) {
            display: none;
          }
        }

        > .theme-toggle {
          font-weight: 700;

          @media screen and (max-width: 500px) {
            position: fixed;
            bottom: 0;
            left: 0;
            margin-left: 25px;
            margin-bottom: 50px;
            padding: 10px;
            border-radius: 10px;
            border: 2px solid var(--text);
            background: white;
            color: black;
            z-index: 2;
          }

          &:hover {
            cursor: pointer;
            border-bottom: 5px solid var(--accent);
          }
        }
      }

      > .landing-nav-right {
        margin-left: auto;
        margin-right: 24vw;
        display: flex;
        align-items: center;
        gap: 15px;

        @media screen and (max-width: 1400px) {
          margin-right: 5vw;
        }

        @media screen and (max-width: 500px) {
          margin-right: 10px;
        }

        > .register-button {
          background: var(--background2);
          color: var(--text2);
          padding: 10px 20px;
          border-radius: 10px;
          border: 2px solid transparent;
          transition: background-color 0.15s ease-in-out;

          @media screen and (max-width: 400px) {
            padding: 5px 10px;
          }

          @media screen and (max-width: 330px) {
            font-size: 0.85rem;
          }

          &:hover {
            cursor: pointer;
            background-color: transparent;
            color: var(--text);
            border: 2px solid var(--text);
          }
        }

        > .home-login {
          @media screen and (max-width: 330px) {
            font-size: 0.85rem;
          }

          &:hover {
            color: var(--accent);
          }
        }
      }

      > a {
        margin-left: 10px;
        color: var(--text);
        &:hover {
          color: var(--accent);
        }
      }
    }

    > .landing-title {
      margin-top: 15vh;
      text-align: center;
      font-weight: 800;
      font-size: 3rem;

      @media screen and (max-width: 1100px) {
        font-size: 2rem;
      }

      @media screen and (max-width: 400px) {
        font-size: 1.25rem;
      }
    }

    > .landing-body {
      display: flex;
      gap: 1.5vw;
      margin-top: 5vh;
      align-items: center;
      justify-content: center;

      > .register-button,
      .dashboard-button {
        background: var(--background2);
        color: var(--text2);
        padding: 15px 30px;
        border-radius: 10px;
        font-weight: bold;
        font-size: 1.2rem;
        border: 2px solid transparent;
        transition: background-color 0.15s ease-in-out;

        @media screen and (max-width: 400px) {
          font-size: 1rem;
          padding: 10px 20px;
        }

        &:hover {
          cursor: pointer;
          background-color: transparent;
          color: var(--text);
          border: 2px solid var(--text);
        }
      }
    }
  }

  .home_showcase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3vh;
    margin-top: 5vh;
    padding-bottom: 5vh;
    margin-left: 25px;

    @media screen and (max-width: 320px) {
      margin-left: 10px;
    }

    .showcase_header {
      display: flex;
      align-items: center;
      gap: 3px;
      font-size: 0.8rem;
      font-weight: 500;

      @media screen and (max-width: 390px) {
        font-size: 0.6rem;
      }

      &:hover {
        cursor: pointer;
        > h1 {
          color: var(--accent);
        }
      }

      > h1 {
        color: var(--text);
      }

      > .material-icons-round {
        color: var(--text);
        font-size: 1.5rem;
        padding-right: 5px;
      }
    }
  }

  .showcase_border {
    border-radius: 10px;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    width: 100vw;

    > .showcase_video {
      border-radius: 10px;
      width: 1000px;

      @media screen and (max-width: 1020px) {
        width: 95%;
      }

      @media screen and (max-width: 580px) {
        height: 250px;
      }

      @media screen and (max-width: 415px) {
        height: 150px;
      }
    }
  }

  > .home_transparency {
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    width: auto;

    > .home_transparency_title {
      padding-left: 25vw;

      @media screen and (max-width: 800px) {
        padding-left: 5vw;
      }

      > h1 {
        font-size: 2rem;

        @media screen and (max-width: 400px) {
          font-size: 1.25rem;
        }
      }

      > p {
        font-weight: 500;
      }
    }

    > .home_transparency_content {
      width: 65%;
      margin: auto;

      @media screen and (max-width: 1200px) {
        width: 75%;
      }

      @media screen and (max-width: 650px) {
        width: 100%;
      }

      > a {
        > img {
          width: 100%;
          transition: transform 0.15s ease-in-out;
          &:hover {
            transform: scale(1.05);
          }
        }
      }
    }
  }

  .landing-stats {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2vh;

    > .landing-stats-items {
      display: flex;
      gap: 2vw;

      > p {
        color: var(--text);
        background: transparent;
        font-weight: 900;
        text-align: center;
        font-size: 1.2rem;

        @media screen and (max-width: 369px) {
          font-size: 1.1rem;
        }

        @media screen and (max-width: 300px) {
          font-size: 1rem;
        }

        > span {
          color: var(--textSec);
          font-weight: 900;
        }
      }
    }
  }

  .home_picture {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-top: 10vh;
    width: auto;

    > img {
      box-shadow: 1px 1px 10px rgb(68, 68, 68);
      border-radius: 10px;
      border: 3px solid gray;
      margin-left: 25px;

      @media screen and (max-width: 1280px) {
        margin-left: 0;
        width: 95%;
      }
    }
  }

  @keyframes fadeIn {
    0% {
      display: none;
      opacity: 0;
    }

    1% {
      display: block;
      opacity: 0;
    }

    100% {
      display: block;
      opacity: 1;
    }
  }

  > .home_features {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    margin-top: 20vh;

    > h1 {
      font-size: 2rem;
      padding-bottom: 50px;

      @media screen and (max-width: 400px) {
        font-size: 1.25rem;
      }
    }

    .home-features-grid {
      display: grid;
      align-items: center;
      justify-content: center;
      width: 65vw;
      column-gap: 4vw;
      row-gap: 6vh;
      grid-template-columns: repeat(3, 1fr);
      border-radius: 10px;

      @media screen and (max-width: 900px) {
        width: 80vw;
      }

      @media screen and (max-width: 800px) {
        grid-template-columns: repeat(1, 1fr);
      }

      @media screen and (max-width: 390px) {
        row-gap: 4vh;
      }

      .home-features-item {
        flex-direction: column;
        display: flex;
        justify-content: flex-start;
        border-radius: 10px;
        min-height: 125px;
        gap: 10px;

        @media screen and (max-width: 390px) {
          padding: 3vh 0vw;
          text-align: center;
          flex-direction: column;
        }

        > span {
          > p {
            color: var(--textSec);
            font-size: 0.95rem;
            line-height: 22.5px;
          }

          > h2 {
            font-size: 1.15rem;
            padding-bottom: 10px;
            font-weight: 800;
            letter-spacing: 0.5px;
          }

          > .home-features-icon {
            color: var(--text);
            transform: scale(1.25);

            @media screen and (max-width: 620px) {
              padding-right: 15px;
            }

            @media screen and (max-width: 390px) {
              margin-left: 0;
              padding-right: 0;
              padding-bottom: 10px;
            }
          }
        }
      }
    }
  }

  .home_faq {
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 20vh;

    @media screen and (max-width: 900px) {
      flex-direction: column;
      align-items: center;
      gap: 5vh;
      justify-content: center;
    }

    > .home-faq-title {
      padding-right: 5vw;

      > h1 {
        font-size: 2rem;
        padding-bottom: 10px;

        @media screen and (max-width: 900px) {
          text-align: center;
        }
      }

      > p {
        color: var(--textSec);
        @media screen and (max-width: 900px) {
          text-align: center;
        }
      }
    }

    .home-faq-container {
      display: flex;
      flex-direction: column;
      gap: 3vh;
      width: 40%;

      @media screen and (max-width: 900px) {
        width: 90%;
      }

      .faq-item {
        transition: color 0.1s ease-in-out;
        padding-bottom: 25px;
        border-bottom: 1px solid gray;
        border-radius: 2px;

        &:hover {
          cursor: pointer;
          color: var(--accent);
        }

        .faq-flex {
          display: flex;

          > p {
            font-weight: 700;
            font-size: 1.1rem;

            @media screen and (max-width: 815px) {
              font-size: 1rem;
            }

            @media screen and (max-width: 415px) {
              font-size: 0.95rem;
            }
          }

          > .faq-icon {
            margin-left: auto;
            color: var(--accent);
            transform: scale(1.1);

            @media screen and (max-width: 415px) {
              transform: scale(0.75);
            }

            @media screen and (max-width: 300px) {
              transform: scale(0.5);
            }
          }
        }
        .faq-answer {
          width: 75%;
          height: auto;
          padding-top: 1vh;
          animation: 0.15s ease-in-out 0s 1 fadeIn;
          opacity: 0.9;
          font-size: 0.9rem;
          font-weight: 600;
          line-height: 25px;

          @media screen and (max-width: 700px) {
            width: 75%;
          }

          @media screen and (max-width: 500px) {
            width: 90%;
          }
        }
      }
    }
  }

  .home_contact {
    height: auto;
    font-size: 1.2rem;
    font-weight: 900;
    display: flex;
    justify-content: center;
    margin-bottom: 12.5vh;
    margin-top: 15vh;

    .contact-form {
      display: flex;
      flex-direction: column;
      gap: 1vh;
      justify-content: center;

      > h1 {
        text-align: center;
        padding-bottom: 3vh;
        font-size: 2.5rem;
        margin-top: 35px;
      }

      > button {
        border: 2px solid var(--text);
        padding: 15px 20px;
        font-size: 1.15rem;
        width: 175px;
        background-color: var(--text);
        margin-top: 3vh;
        border-radius: 10px;
        color: var(--text2);
        transition: background-color 0.15s ease-in-out;
        font-weight: 700;

        &:hover {
          cursor: pointer;
          background-color: transparent;
          color: var(--text);
        }
      }

      > .home-message {
        height: auto;
      }
    }
  }

  .foot-note {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7vh;
    font-size: 0.9rem;
    font-weight: bold;
    color: var(--textSec);
    gap: 15px;

    > a,
    p {
      color: var(--textSec);

      &:hover {
        color: var(--accent);
        cursor: pointer;
      }
    }
  }
}

mat-form-field {
  font-weight: 600;
  width: 30vw;
  height: 70px;

  @media screen and (max-width: 1200px) {
    width: 45vw;
  }

  @media screen and (max-width: 1000px) {
    width: 60vw;
  }

  @media screen and (max-width: 400px) {
    width: 85vw;
  }
}
