@import "./styles.scss";

.content-grid {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 380px));
  column-gap: 2vw;
  row-gap: 3vh;
  margin-top: 2vh;
}

.default-dash-container {
  margin-left: 17vw;
  height: auto;
  background-color: $background;
}
