@import "./styles.scss";

.content-grid {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(auto-fit, 175px);
  column-gap: 15px;
  row-gap: 2vh;

  @media screen and (max-width: 400px) {
    grid-template-columns: repeat(auto-fit, 150px);
  }
}

.default-dash-container {
  padding-left: 5vw;
  height: auto;

  @media screen and (max-width: 720px) {
    padding-left: 5vw;
  }

  @media screen and (max-width: 340px) {
    padding: 0;
  }
}
