@import "./styles.scss";

.content-grid {
  width: 95%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 400px));
  column-gap: 2vw;
  margin-left: 3vw;
  padding-top: 5vh;
}

.default-dash-container {
  margin-left: 15vw;
  margin-top: 7.5vh;
  width: 85vw;
  // height: auto;
  height: 92.5vh;
  background-color: $background;
}
