@import "./styles.scss";

.content-grid {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(155px, 135px));
  row-gap: 2vh;
  margin-top: 2vh;

  @media screen and (max-width: 390px) {
    row-gap: 4vh;
    margin-top: 5vh;
    grid-template-columns: repeat(auto-fit, minmax(135px, 115px));
  }
}

.default-dash-container {
  padding-left: 13vw;
  height: auto;
  background-color: var(--background);

  @media screen and (max-width: 720px) {
    padding-left: 5vw;
  }

  @media screen and (max-width: 340px) {
    padding: 0;
  }
}
