@import "./styles.scss";

.content-grid {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(155px, 140px));
  row-gap: 2vh;
  margin-top: 20px;
}

.default-dash-container {
  padding-left: 5vw;
  height: auto;
  background-color: var(--background);

  @media screen and (max-width: 720px) {
    padding-left: 5vw;
  }

  @media screen and (max-width: 340px) {
    padding: 0;
  }
}
