@use "@angular/material" as mat;
@include mat.core();

@font-face {
  font-family: "Reddit Sans";
  src: url("../assets/RedditSans-VariableFont_wght.ttf");
}

$secondary: #717aef;
$accent: #717aef;
$background: #0f0f0f;
$background2: #191919;
$boxshad: #111214;
$border: #494b52;
$text: #fbfcfc;
$text2: #0e0c0c;
$textSec: #c1c9df;
$imp-button: #f73830;
$warn: #7067f2;

$my-custom-typography-config: mat.define-typography-config(
  $caption:
    mat.define-typography-level(
      $font-size: 12px,
      $font-weight: 700,
      $font-family: "Reddit Sans",
    ),
);

$Frontend-primary: mat.define-palette(mat.$indigo-palette);
$Frontend-accent: mat.define-palette(mat.$indigo-palette, A200);
$Frontend-warn: mat.define-palette(mat.$red-palette);
$Frontend-theme: mat.define-dark-theme(
  (
    color: (
      primary: $Frontend-primary,
      accent: $Frontend-accent,
      warn: $Frontend-warn,
    ),

    typography: $my-custom-typography-config,

    density: -3,
  )
);

::ng-deep {
  .mdc-text-field--outlined:not(.mdc-text-field--disabled)
    .mdc-text-field__input {
    color: white !important;
  }
}

//Top bottom border, if label is inside
::ng-deep.mdc-notched-outline__notch {
  border-top: 3px solid $accent !important;
  border-bottom: 3px solid $accent !important;
}

//Top bottom border, if label is notched
::ng-deep.mdc-notched-outline--notched {
  ::ng-deep.mdc-notched-outline__notch {
    border-top: none !important;
    border-bottom: 3px solid $accent !important;
  }
}
//Left border with edges
::ng-deep.mdc-notched-outline__leading {
  border: 3px solid $accent !important;
  border-right: none !important;
}
//Right border with edges
::ng-deep.mdc-notched-outline__trailing {
  border: 3px solid $accent !important;
  border-left: none !important;
}

::ng-deep .mdc-text-field--focused .mdc-notched-outline > * {
  border-color: white !important;
}

::ng-deep .mat-mdc-floating-label.mdc-floating-label {
  color: gray !important;
}

// Border-Radius for inputs
.mdc-text-field--outlined {
  --mdc-outlined-text-field-container-shape: 10px !important;
}

// Date picker
::ng-deep {
  .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: transparent !important;
  }
  .mdc-line-ripple::before {
    border-bottom: 3px solid $accent !important;
    color: white !important;
  }
  .mat-mdc-icon-button {
    color: $accent !important;
  }
  .mdc-text-field--filled:not(.mdc-text-field--disabled)
    .mdc-text-field__input {
    color: white !important;
  }
}

.mat-progress-spinner circle {
  stroke-linecap: round !important;
}

@include mat.tooltip-typography($my-custom-typography-config);

@include mat.all-component-themes($Frontend-theme);

html {
  scroll-behavior: smooth;
  box-sizing: border-box !important;
  background-color: $background;
  height: auto;
}

body {
  box-sizing: border-box !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $text;
  background-color: $background;
  height: auto;
}

body,
input,
textarea,
button {
  font-family:
    "Reddit Sans",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif !important;
}

code {
  font-family: "Reddit Sans", source-code-pro, Menlo, Monaco, Consolas,
    "Courier New", monospace;
}

// Scrollbar
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: $background;
}
::-webkit-scrollbar-thumb {
  background: $accent;
  &:hover {
    background: #2061c3;
  }
}

// CSS Reset
html,
body,
div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: $text;
}
input {
  color: $text;
}

html,
body {
  width: 100% !important;
}

button {
  font-weight: 600;
}

.form-errors {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  background: $warn;
  color: $text;
  text-align: center;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: 500;
  width: fit-content;
}

mat-form-field {
  font-weight: 500;
}
