@use "@angular/material" as mat;
@include mat.elevation-classes();
@include mat.app-background();
@import "primeflex/primeflex.css";
@import "primeicons/primeicons.css";

@font-face {
  font-family: "AlbertSans";
  src: url("../assets/fonts/AlbertSans-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "AlbertSans";
  src: url("../assets/fonts/AlbertSans-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "AlbertSans";
  src: url("../assets/fonts/AlbertSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "AlbertSans";
  src: url("../assets/fonts/AlbertSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "AlbertSans";
  src: url("../assets/fonts/AlbertSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "AlbertSans";
  src: url("../assets/fonts/AlbertSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "AlbertSans";
  src: url("../assets/fonts/AlbertSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "AlbertSans";
  src: url("../assets/fonts/AlbertSans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "AlbertSans";
  src: url("../assets/fonts/AlbertSans-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

:root,
:host {
  .p-drawer {
    --p-drawer-background: var(--background) !important;
    --p-drawer-border-color: var(--background) !important;
  }

  .p-menu {
    --p-menu-background: var(--background) !important;
    --p-menu-border-color: var(--background) !important;

    --p-menu-item-border-radius: 8px;
    --p-menu-item-gap: 14px;

    .p-menu-submenu-label {
      color: var(--textSec);
    }
  }

  .p-tooltip {
    font-size: 11px;

    box-shadow: rgba(0, 0, 0, 0.07) 0px 4px 44px;
    --p-tooltip-background: var(--background2);

    .p-tooltip-text {
      font-size: 11px;
      border: 1px solid lch(18.24 4.707 272);
    }
  }

  .p-confirmpopup {
    border: 1px solid lch(18.24 4.707 272);
    box-shadow: rgba(0, 0, 0, 0.07) 0px 4px 44px;
    --p-confirmpopup-background: var(--background2);
  }

  .p-dialog {
    --p-dialog-background: var(--background2);
    border: 1px solid lch(18.24 4.707 272);
    box-shadow: rgba(0, 0, 0, 0.07) 0px 4px 44px;
  }

  .p-button {
    padding: 6px 10px;
  }

  .p-select {
    --p-select-padding-y: 6px;

    .p-select-overlay {
      margin-top: 5px;
      background: var(--background2);
      ::-webkit-scrollbar {
        width: 0px;
      }
    }
  }

  .p-inputtext {
    --p-inputtext-padding-y: 6px;
    width: clamp(200px, calc(20vw + 5rem), 250px);
  }
}

:root {
  --accent: #2e60cd;
  --background: #090909;
  --background2: #17181b;
  --text: #eef1f3;
  --text2: #0d0f11;
  --textSec: #8a8f98;
  --imp-button: #f73830;
  --warn: #7067f2;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box !important;
  background-color: var(--background);
  height: auto;
  font-size: 14px;
  font-weight: 400;
}

body {
  box-sizing: border-box !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text);
  background-color: var(--background);
  height: auto;
}

body,
input,
textarea,
button {
  font-family:
    "AlbertSans",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif !important;
  font-size: 14px;
  font-weight: 600;
}

code {
  font-family:
    "AlbertSans", source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

// Scrollbar
::-webkit-scrollbar {
  width: 12.5px;
  border-radius: 8px;
}
::-webkit-scrollbar-track {
  background: var(--background);
  border-radius: 8px;
}
::-webkit-scrollbar-thumb {
  background: var(--text);
  border-radius: 8px;
}

// CSS Reset
html,
body,
div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--text);
}
input {
  color: var(--text);
}

html,
body {
  width: 100% !important;
}

.form-errors {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  color: var(--text);
  text-align: center;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: 500;
  width: fit-content;
}
