@import "../../../../assets/styles.scss";

.d-sidebar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: auto;
  background: transparent;
  height: 100%;
  z-index: 98;

  .d-sidebar {
    min-width: 200px;
    background-color: $background2;
    position: fixed;
    left: 0;
    top: 0;
    box-shadow: 1px 1px 10px $boxshad;
    height: 100%;
    border: none;

    .sidebar-profile {
      margin-top: 5vh;
      display: flex;
      flex-direction: column;
      margin-left: 30px;
      margin-bottom: 5vh;
      line-height: 25px;
      max-width: 185px;

      p {
        font-size: 1rem;
        font-weight: bold;
      }
    }

    .sidebar-bottom {
      position: absolute;
      bottom: 0;
      margin-bottom: 5vh;
    }

    .sidebar-tab {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 0.75vw;
      margin-top: 3vh;
      padding-right: 1vw;
      margin-left: 30px;
      will-change: contents;

      &:hover {
        cursor: pointer;

        > h1 {
          transition: color 0.15s ease-in-out;
          color: $accent;
        }
      }

      @media screen and (max-width: 965px) {
        gap: 2vw;
      }

      h1 {
        font-size: 1rem;
        font-weight: 700;
        color: $text;
      }

      .sidebar-icon {
        color: rgba($accent, 0.7);
        font-size: 1.5rem;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  .sidebar-icon-contain {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    margin-top: 4vh;
    gap: 20px;
    position: fixed;

    .sidebar-icon {
      background: rgba($accent, 0.5);
      padding: 10px;
      transform: scale(0.9);
      margin-left: 1vw;
      border-radius: 10px;
      color: white;

      &:hover {
        cursor: pointer;
        background: rgba($accent, 1);
      }
    }
  }
}
