@import "../../../../assets/styles.scss";

.d-sidebar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: auto;
  background: transparent;
  height: 100%;
  z-index: 98;

  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  .d-sidebar {
    min-width: 200px;
    background-color: var(--background);
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    border: none;

    .sidebar-profile {
      margin-top: 5vh;
      display: flex;
      flex-direction: column;
      margin-bottom: 5vh;
      line-height: 25px;
      max-width: 185px;

      p {
        font-size: 1rem;
        font-weight: bold;
        padding: 0 12px;
        color: var(--text);
      }

      > .sidebar-email {
        font-size: 0.6rem;
        color: var(--textSec);
      }
    }

    .sidebar-bottom {
      position: absolute;
      bottom: 0;
      margin-bottom: 2vh;
    }

    .sidebar-tab {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-top: 2vh;
      padding-right: 0.5vw;
      padding: 0 12px;
      gap: 0.5vw;

      &:hover {
        cursor: pointer;

        > h1,
        .sidebar-icon {
          transition: color 0.1s ease-in-out;
          color: var(--accent);
        }
      }

      @media screen and (max-width: 965px) {
        gap: 2vw;
      }

      h1 {
        font-size: 0.85rem;
        font-weight: 700;
        color: var(--text);
      }

      .sidebar-icon {
        color: var(--text);
        transform: scale(0.8);
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  .sidebar-icon-contain {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    margin-top: 5vh;
    gap: 8px;

    .sidebar-icon {
      background: var(--background2);
      padding: 7px;
      transform: scale(0.8);
      border-radius: 10px;
      color: var(--text2);

      &:hover {
        cursor: pointer;
      }
    }

    .icon-toggle {
      background: transparent;
      border: 2px solid var(--text);
      padding: 7px;
      transform: scale(0.9);
      border-radius: 10px;
      color: var(--text);

      &:hover {
        background-color: var(--text);
        cursor: pointer;
        color: var(--text2);
      }
    }
  }
}

.open-menu {
  margin-left: 15px;
  padding: 7px;
  transform: scale(0.9);
  margin-top: 15px;
  color: var(--text2);
  position: fixed;
  z-index: 97;
  background: var(--background2);
  border-radius: 10px;

  &:hover {
    cursor: pointer;
  }
}
