<mat-drawer-container class="d-sidebar-container">
  <mat-drawer [(opened)]="opened" mode="side" #drawer class="d-sidebar">
    <li class="sidebar-profile">
      <p>Welcome</p>
      <p>
        {{ user.username | slice: 0 : 11
        }}{{ user.username.length > 11 ? "..." : "" }}
      </p>
    </li>

    <div
      class="sidebar-tab"
      (click)="changeTitle('Dashboard')"
      routerLink="/dashboard"
    >
      <span class="material-icons-round sidebar-icon"> dashboard </span>
      <h1 class="tab-id">Dashboard</h1>
    </div>

    <a
      class="sidebar-tab"
      routerLink="/dashboard/folders"
      (click)="changeTitle('Folders')"
    >
      <mat-icon fontIcon="folder" class="sidebar-icon"></mat-icon>
      <h1 class="tab-id">Folders</h1>
    </a>

    <div
      class="sidebar-tab"
      (click)="changeTitle('Bookmarks')"
      routerLink="/dashboard"
    >
      <span class="material-icons-round sidebar-icon"> bookmark </span>
      <h1 class="tab-id">Bookmarks</h1>
    </div>

    <div
      class="sidebar-tab"
      (click)="changeTitle('Upcoming')"
      routerLink="/dashboard"
    >
      <span class="material-icons-round sidebar-icon"> upcoming </span>
      <h1 class="tab-id">Upcoming</h1>
    </div>

    <div
      class="sidebar-tab"
      (click)="changeTitle('Trash')"
      routerLink="/dashboard"
    >
      <span class="material-icons-round sidebar-icon"> delete </span>
      <h1 class="tab-id">Trash</h1>
    </div>

    <section class="sidebar-bottom">
      <a routerLink="/dashboard/settings" class="sidebar-tab">
        <span class="material-icons-round sidebar-icon"> settings </span>
        <h1 class="tab-id">Settings</h1>
      </a>

      <a routerLink="" class="sidebar-tab">
        <span class="material-icons-round sidebar-icon"> home </span>
        <h1>Home</h1>
      </a>

      <a class="sidebar-tab" (click)="logOut()">
        <span class="material-icons-round sidebar-icon"> logout </span>
        <h1>Logout</h1>
      </a>
    </section>
  </mat-drawer>

  <div class="sidebar-icon-contain">
    <mat-icon
      fontIcon="menu"
      (click)="drawer.toggle(); opened = !opened"
      *ngIf="!opened"
      class="sidebar-icon"
      matTooltip="Open sidebar"
    ></mat-icon>
    <mat-icon
      fontIcon="close"
      (click)="drawer.toggle(); opened = !opened"
      *ngIf="opened"
      class="sidebar-icon"
      matTooltip="Close sidebar"
    >
    </mat-icon>

    <span
      class="material-icons-round sidebar-icon"
      (click)="toggleMassEdit()"
      matTooltip="Edit Mode"
    >
      edit
    </span>
    <span
      class="material-icons-round sidebar-icon"
      *ngIf="massEditting"
      (click)="toggleMassEditForm()"
      matTooltip="Edit Items"
    >
      done
    </span>
  </div>
</mat-drawer-container>

<app-mass-edit-form
  *ngIf="massEditForm"
  (toggleMassEditForm)="toggleMassEditForm()"
></app-mass-edit-form>
