<nav>
  <ul class="d-sidebar">
    <li class="sidebar-profile">
      <p>Welcome, Guest</p>
    </li>

    <a class="sidebar-tab" routerLink="/dashboard">
      <mat-icon fontIcon="dashboard" class="sidebar-icon"></mat-icon>
      <h1 class="tab-id">Dashboard</h1>
    </a>

    <a class="sidebar-tab" routerLink="/dashboard/bookmarks">
      <mat-icon fontIcon="bookmarks" class="sidebar-icon"></mat-icon>
      <h1 class="tab-id">Bookmarks</h1>
    </a>

    <a class="sidebar-tab" routerLink="/dashboard/folders">
      <mat-icon fontIcon="folder" class="sidebar-icon"></mat-icon>
      <h1 class="tab-id">Folders</h1>
    </a>

    <a class="sidebar-tab" routerLink="/dashboard/upcoming">
      <mat-icon fontIcon="upcoming" class="sidebar-icon"></mat-icon>
      <h1 class="tab-id">Upcoming</h1>
    </a>

    <a class="sidebar-tab" routerLink="/dashboard/trash">
      <mat-icon fontIcon="delete" class="sidebar-icon"></mat-icon>
      <h1 class="tab-id">Trash</h1>
    </a>

    <a class="sidebar-tab sidebar-bottom" (click)="logOut()">
      <mat-icon fontIcon="logout" class="sidebar-icon"></mat-icon>
      <h1>Logout</h1>
    </a>

    <a routerLink="" class="sidebar-tab">
      <mat-icon fontIcon="home" class="sidebar-icon"></mat-icon>
      <h1>Home</h1>
    </a>

    <a
      routerLink="/dashboard/settings"
      class="sidebar-tab"
      style="margin-bottom: 5vh"
    >
      <mat-icon fontIcon="settings" class="sidebar-icon"></mat-icon>
      <h1 class="tab-id">Settings</h1>
    </a>
  </ul>
</nav>
