@import "../../../../../assets/styles.scss";

.link-item-border {
  border: 3px solid $accent !important;
  background-color: rgba($accent, 0.75) !important;
}

.link-item {
  position: relative;
  width: 100%;
  text-align: center;
  height: 100px;
  border-radius: 15px;
  transition: border-color 0.1s ease-in-out;
  touch-action: auto !important;
  background-color: $background2;
  border: 3px solid transparent;

  &:hover {
    border-color: $accent;
  }

  @media screen and (max-width: 340px) {
    width: 90%;
    margin-left: 8vw;
  }

  > section {
    display: flex;
    width: 100%;

    > a {
      pointer-events: auto;
    }

    > .link-preview {
      height: 94px;
      width: 50%;

      > img {
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
        height: 100%;
        width: 100%;
      }
    }

    > .link-details,
    .link-details-no-previews {
      display: flex;
      flex-direction: column;
      height: 100px;
      width: 50%;
      align-items: center;
      position: relative;

      > .link-title {
        font-size: 0.8rem;
        max-height: 45%;
        word-wrap: break-word;
        max-width: 80%;
        overflow: hidden;
        font-weight: 600;

        @media screen and (max-width: 340px) {
          font-size: 0.65rem;
        }
      }

      > .link-url {
        font-size: 0.7rem;
        color: $textSec;
        height: auto;
        padding-top: 6px;
        font-weight: 600;

        @media screen and (max-width: 340px) {
          font-size: 0.6rem;
        }
      }

      > .link-date {
        font-size: 0.65rem;
        color: $textSec;
        height: 15%;
        position: absolute;
        bottom: 0;
        right: 0;
        margin-bottom: 10px;
        margin-right: 10px;
        font-weight: 600;
      }

      > .link-date2 {
        color: $accent;
        font-weight: 600;
        height: 15%;
        position: absolute;
        bottom: 0;
        right: 0;
        margin-bottom: 10px;
        margin-right: 10px;
      }
    }

    > .link-details-no-previews {
      width: 95%;
    }
  }

  > .disabled {
    > a {
      pointer-events: none;
    }
  }

  > .link-options {
    position: absolute;
    bottom: 0;
    left: 0;
    color: $accent;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    display: flex;
    align-items: center;
    gap: 3px;
    padding-bottom: 2px;
    transform: scale(0.9);
    height: auto;
    transition: color 0.1s ease-in-out;

    > * {
      &:hover {
        color: $text;
        cursor: pointer;
      }
    }
  }
}
