@import "../../../../../assets/styles.scss";

.link-item-border {
  border: 2px solid var(--text) !important;
}

.link-item {
  position: relative;
  width: 130px;
  height: 100%;
  border-radius: 8px;
  touch-action: auto !important;
  border: 2px solid transparent;

  @media screen and (max-width: 340px) {
    width: 90%;
    margin-left: 8vw;
  }

  > .link-item-wrapper,
  a {
    display: flex;
    flex-direction: column;
    width: 100%;

    > a {
      pointer-events: auto;
    }

    > .link-preview {
      height: 94px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--background);
      border-radius: 7px;

      > img {
        border-radius: 7px;
        height: 100%;
        width: 100%;
        line-height: 100px;
      }

      > p {
        font-weight: 600;
        color: var(--textSec);
        width: 75%;
      }
    }

    > .link-details,
    .link-details-no-previews {
      display: flex;
      flex-direction: column;
      width: 100%;
      position: relative;
      height: 50px;

      > .link-title {
        font-size: 0.8rem;
        font-weight: 800;
        height: 35%;
        overflow: hidden;
        padding-top: 3px;
        padding-left: 3px;

        @media screen and (max-width: 340px) {
          font-size: 0.65rem;
        }
      }

      > .link-url {
        font-size: 0.65rem;
        color: var(--textSec);
        font-weight: 500;
        padding-left: 3px;
        width: 100%;

        @media screen and (max-width: 340px) {
          font-size: 0.6rem;
        }
      }

      > .link-date {
        font-size: 0.65rem;
        color: var(--textSec);
        height: 15%;
        position: absolute;
        bottom: 0;
        right: 0;
        margin-bottom: 10px;
        margin-right: 5px;
        font-weight: 500;
      }

      > .link-date2 {
        color: var(--accent);
        font-weight: 500;
        height: 15%;
        position: absolute;
        bottom: 0;
        right: 0;
        margin-bottom: 10px;
        margin-right: 5px;
      }

      > .link-visits {
        font-size: 0.65rem;
        padding-left: 3px;
        color: var(--textSec);
      }
    }

    > .link-details-no-previews {
      background-color: var(--background) 2;
      width: 100%;
      height: 100px;
      border-radius: 8px;
      text-align: center;

      > .link-title {
        margin-top: 22px;
        width: 95%;
        height: 20px;
      }

      > .link-url {
        padding-top: 5px;
      }

      > .link-date {
        padding-bottom: 5px;
        height: 15%;
        position: absolute;
        bottom: 0;
      }
    }
  }

  > .disabled {
    pointer-events: none;

    > a {
      pointer-events: none;
    }
  }

  > .link-options {
    color: var(--accent);
    display: flex;
    align-items: center;
    height: auto;
    transition: color 0.1s ease-in-out;

    > * {
      font-size: 1.25rem;

      &:hover {
        cursor: pointer;
        color: white;
      }
    }

    > .link-edit {
      font-size: 1.05rem;
    }
  }
}
