@import "../../../../../assets/styles.scss";

.link-item-border {
  background: rgb(55, 55, 55) !important;
}

.link-item {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  touch-action: auto !important;
  border: 2px solid transparent;

  &:hover {
    > .link-item-wrapper {
      > .link-url {
        color: var(--text);
      }
    }
  }

  @media screen and (max-width: 340px) {
    width: 90%;
    margin-left: 8vw;
  }

  > .link-item-wrapper,
  a {
    display: flex;
    flex-direction: column;
    width: 100%;

    > a {
      pointer-events: auto;
    }

    > .link-url {
      font-size: 0.75rem;
      color: var(--textSec);
      font-weight: 500;

      padding-left: 3px;
      padding-bottom: 7px;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      @media screen and (max-width: 340px) {
        font-size: 0.6rem;
      }
    }

    > .link-preview {
      height: 100px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--background);
      border-radius: 8px;

      > img {
        border-radius: 8px;
        height: 100%;
        max-width: 100%;
        min-width: 100%;
        object-fit: cover;
      }
    }

    > .link-options,
    .link-options-left {
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      transition: color 0.1s ease-in-out;

      position: absolute;
      top: 0;
      background-color: var(--background2);
      border: 1px solid lch(18.24 4.707 272);
      box-shadow: rgba(0, 0, 0, 0.07) 0px 4px 44px;
      padding: 5px 5px;
      border-radius: 8px;
      margin-top: 25px;
      z-index: 98;

      > * {
        font-size: 15px;

        &:hover {
          cursor: pointer;
          color: var(--accent);
        }
      }
    }

    .link-options {
      right: 0;
      margin-right: 5px;
    }

    .link-options-left {
      left: 0;
      margin-left: 5px;
    }

    > .link-details,
    .link-details-no-previews {
      display: flex;
      flex-direction: column;
      width: 100%;
      position: relative;
      height: fit-content;

      > .link-title {
        font-size: 0.825rem;
        font-weight: 600;
        height: 18px;
        overflow: hidden;
        padding-top: 4px;

        @media screen and (max-width: 340px) {
          font-size: 0.65rem;
        }
      }

      > section {
        display: flex;
        justify-content: space-between;
        padding-top: 4px;
        > .link-date,
        .link-visits {
          height: fit-content;
          font-size: 0.725rem;
          color: var(--textSec);
        }
      }
    }

    > .disabled {
      pointer-events: none;

      > a {
        pointer-events: none;
      }
    }
  }
}

.expanded-img {
  position: fixed;
  z-index: 98;
  width: fit-content;
  max-width: 90vw;
  bottom: 0;
  left: 0;

  border-radius: 8px;
  border: 1px solid lch(32.62% 4.69 270.27);
  background-color: var(--background);

  display: flex;
  flex-direction: column;

  img {
    max-height: 50vh;
    object-fit: contain;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  > span {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: grab;
    height: 30px;

    background: var(--background2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

    &:active {
      cursor: grabbing;
    }

    .pi-circle-fill {
      position: absolute;
      top: 0;
      left: 0;
      color: rgb(255, 90, 90);
      margin-left: 7px;
      margin-top: 7px;
      font-size: 12px;
      cursor: pointer;
    }
  }
}
