<div
  class="link-item"
  [ngClass]="addingID && massEditting ? 'link-item-border' : ''"
  (click)="addMassID(itemData.id)"
  pTooltip="{{ itemData.title }}"
>
  <a
    [ngClass]="massEditting ? 'disabled' : 'link-item-wrapper'"
    [href]="'//' + itemData.url"
    target="_blank"
    (click)="visitedLink()"
    (auxclick)="visitedLink()"
  >
    @if (this.previews) {
      <div class="link-preview">
        @if (itemData.pURL) {
          <img src="{{ itemData.pURL }}" alt="Refresh to view" />
        }
        @if (!itemData.pURL) {
          <p style="text-align: center">No image found</p>
        }
      </div>
    }

    <div
      target="_blank"
      [ngClass]="previews ? 'link-details' : 'link-details-no-previews'"
    >
      <p class="link-title">{{ itemData.title }}</p>
      <p class="link-url">{{ itemData.url | slice: 0 : 20 }}</p>
      <p class="link-date">
        {{ itemData.createdAt | date: "shortDate" }}
      </p>

      <p class="link-visits">{{ itemData.visits }} visits</p>
    </div>
  </a>

  <!--Link CRUD Options-->
  @if (!massEditting) {
    <div class="link-options">
      @if (specialRequest !== "Trash") {
        <mat-icon
          fontIcon="close"
          class="link-delete"
          (click)="moveToTrash()"
          pTooltip="Move to trash"
        ></mat-icon>
      }
      @if (specialRequest !== "Trash") {
        <mat-icon
          fontIcon="edit"
          class="link-edit"
          (click)="toggleEdit()"
          pTooltip="Edit Link"
        ></mat-icon>
      }
      @if (specialRequest === "Trash") {
        <mat-icon
          fontIcon="restore"
          class="link-restore"
          (click)="restoreLink()"
          pTooltip="Restore Link"
        ></mat-icon>
      }
      @if (specialRequest === "Trash") {
        <mat-icon
          fontIcon="close"
          class="link-delete"
          (click)="permanentDelete()"
          pTooltip="Remove Permanently"
        ></mat-icon>
      }
    </div>
  }
</div>

<!-- Edit Form -->
@if (editForm) {
  <app-link-edit-form
    [itemData]="itemData"
    (toggleEdit)="toggleEdit()"
  ></app-link-edit-form>
}
