@import "../../../../assets/styles.scss";

.settings-page {
  margin-left: 20vw;
  color: $text;
  padding: 7.5%;

  @media screen and (max-width: 850px) {
    margin-left: 30vw;
  }

  @media screen and (max-width: 450px) {
    margin-left: 15vw;
  }

  > .settings-flex {
    display: flex;
    padding-bottom: 5vh;

    > .settings-delete-overlay {
      display: flex;
      z-index: 99;
      background-color: rgba($color: #000000, $alpha: 0.75);
      position: fixed;
      align-items: center;
      justify-content: center;
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;

      > .settings-delete-prompt {
        background-color: $background;
        width: 25vw;
        height: 35vh;
        border-radius: 5px;
        border: 1px solid $accent;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 2vh;

        @media screen and (max-width: 1365px) {
          width: 35vw;
        }

        @media screen and (max-width: 870px) {
          width: 75vw;
        }

        @media screen and (max-width: 435px) {
          height: 35vh;
        }

        > .settings-delete {
          background-color: $imp-button;
          border: none;
          padding: 10px 20px;
          border-radius: 5px;
          color: $text;

          &:hover {
            cursor: pointer;
            box-shadow: 1px 1px 10px $imp-button;
          }
        }

        > p {
          @media screen and (max-width: 370px) {
            font-size: 0.8rem;
            text-align: center;
          }
        }

        > input {
          border: none;
          border: 2px solid $accent;
          background: transparent;
          border-radius: 5px;
          padding: 1vh 1vw;
          font-size: 1rem;

          @media screen and (max-width: 370px) {
            width: 75%;
          }
        }

        > .close-form {
          margin: 15px 0 0 15px;
          transform: scale(1.25);
          align-self: flex-start;

          &:hover {
            cursor: pointer;
            color: $accent;
          }
        }
      }
    }
  }

  > .settings-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 15vh;

    @media screen and (max-width: 850px) {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 10vh;
    }

    > .settings-item {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 2vh;

      > h3 {
        color: $accent;
      }

      > p {
        font-size: 1.1rem;
        color: $textSec;
      }

      > span {
        display: flex;
        gap: 2vw;
      }

      > .settings-delete {
        background-color: $imp-button;
        border: 2px solid $imp-button;
        padding: 10px 15px;
        border-radius: 5px;
        color: $text;

        transition: background-color 0.2s;

        &:hover {
          cursor: pointer;
          background-color: transparent;
        }
      }

      > .settings-apply {
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        border: 2px solid $accent;
        color: $text;
        background-color: transparent;
        transition:
          background-color 0.2s ease-in-out,
          color 0.2s ease-in-out;

        &:disabled {
          opacity: 0.5;
          &:hover {
            cursor: default;
          }
        }

        &:hover {
          background-color: $accent;
          color: $text2;
          cursor: pointer;
        }
      }
    }
  }
}
