<app-main-sidebar></app-main-sidebar>

<main class="settings-page">
  <div class="settings-flex">
    <h1>User Settings</h1>

    <div class="settings-delete-overlay" *ngIf="deletePrompt">
      <section class="settings-delete-prompt">
        <mat-icon
          fontIcon="close"
          (click)="toggleDeletePrompt()"
          class="close-form"
        ></mat-icon>

        <p>Confirm Account Deletion</p>
        <p>Type "abracadabra" below to confirm</p>
        <input
          id="delete-confirm"
          type="text"
          required
          placeholder="...abracadabra"
        />
        <mat-error *ngIf="deletePromptError">Input does not match</mat-error>
        <button (click)="deleteAccount()" class="settings-delete">
          DELETE
        </button>
      </section>
    </div>
  </div>

  <div class="settings-grid">
    <section class="settings-item">
      <h3>Account</h3>
      <p>
        Email: <span style="color: white">{{ user.user.email }}</span>
      </p>
      <p>
        Account Created:
        <span style="color: white">{{
          user.user.creationDate | date: "shortDate"
        }}</span>
      </p>
      <p style="color: white">Change Password</p>
    </section>

    <section class="settings-item">
      <h3>Extra</h3>
      <a routerLink="" fragment="home_contact">Contact Page</a>
      <button class="settings-delete" (click)="toggleDeletePrompt()">
        Delete Account
      </button>
    </section>

    <form
      class="settings-item"
      [formGroup]="preferenceForm"
      (submit)="submitForm()"
    >
      <h3>Preferences</h3>

      <span>
        <mat-label for="previews">Rich Previews</mat-label>
        <mat-slide-toggle
          #previews
          formControlName="previews"
        ></mat-slide-toggle
      ></span>

      <p *ngIf="changesApplied" style="color: green">Changes Applied</p>

      <button type="submit" class="settings-apply">Apply Changes</button>
    </form>
  </div>
</main>
