<app-main-sidebar></app-main-sidebar>

<main class="settings-page">
  <div class="settings-flex">
    <h1>User Settings</h1>

    <div class="settings-delete-overlay" *ngIf="deletePrompt">
      <section class="settings-delete-prompt">
        <mat-icon
          fontIcon="close"
          (click)="toggleDeletePrompt()"
          class="close-form"
        ></mat-icon>

        <p>Confirm Account Deletion</p>
        <p>Type "abracadabra" to confirm</p>
        <input
          id="delete-confirm"
          type="text"
          required
          placeholder="...abracadabra"
        />
        <mat-error *ngIf="deletePromptError">Input does not match</mat-error>
        <button (click)="deleteAccount()" class="settings-delete">
          Delete
        </button>
      </section>
    </div>
  </div>

  <div class="settings-grid">
    <section class="settings-item">
      <h3>Account</h3>
      <p>
        Username: <span style="color: white">{{ user.user.username }}</span>
      </p>
      <p>
        Email: <span style="color: white">{{ user.user.email }}</span>
      </p>
      <p>
        Account Created:
        <span style="color: white">{{
          user.user.creationDate | date: "shortDate"
        }}</span>
      </p>
      <button
        style="color: white"
        class="settings-change-pass"
        (click)="togglePassChangeForm()"
      >
        Change Password
      </button>

      <div class="password-change-overlay" *ngIf="this.passwordChangeOverlay">
        <form
          [formGroup]="passwordChangeForm"
          (submit)="submitPasswordChange()"
        >
          <mat-icon
            fontIcon="close"
            (click)="togglePassChangeForm()"
            class="close-form"
          ></mat-icon>
          <h3>Change Password</h3>

          <div *ngIf="formErrors" class="form-errors">
            <span class="material-icons-round"> error </span>
            <p>{{ formErrors }}</p>
          </div>

          <mat-form-field appearance="outline">
            <mat-label for="currentPass">Current Password</mat-label>
            <input
              matInput
              type="password"
              required
              formControlName="currentPass"
              #currentPass
              minlength="8"
              maxlength="20"
            />
            <mat-error *ngIf="passwordChangeForm.get('currentPass')?.invalid"
              >Invalid password</mat-error
            >
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label for="newPass">New Password (8-20 characters)</mat-label>
            <input
              matInput
              type="password"
              required
              formControlName="newPass"
              #newPass
              minlength="8"
              maxlength="20"
            />

            <mat-error *ngIf="passwordChangeForm.get('newPass')?.invalid"
              >Invalid new password</mat-error
            >
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label for="newPass2">Confirm New Password</mat-label>
            <input
              matInput
              type="password"
              required
              formControlName="newPass2"
              #newPass2
              minlength="8"
              maxlength="20"
            />
          </mat-form-field>

          <button type="submit" [disabled]="!passwordChangeForm.dirty">
            Change Password
          </button>
        </form>
      </div>

      <button class="settings-delete" (click)="toggleDeletePrompt()">
        Delete Account
      </button>
    </section>

    <section class="settings-item">
      <h3>Extra</h3>
      <a routerLink="" fragment="home_contact">Contact Page</a>
      <a routerLink="/versions">Version History</a>
      <a
        href="https://www.termsfeed.com/live/a23806e5-a8bc-4542-a4fc-230353a493dc"
        target="_blank"
        >Privacy Policy</a
      >
    </section>

    <form
      class="settings-item"
      [formGroup]="preferenceForm"
      (submit)="submitPreferenceForm()"
    >
      <h3>Preferences</h3>

      <span>
        <mat-label for="previews">Rich Previews</mat-label>
        <mat-slide-toggle
          #previews
          formControlName="previews"
          [hideIcon]="true"
        ></mat-slide-toggle
      ></span>

      <p *ngIf="changesApplied" style="color: lightskyblue">Changes Applied</p>

      <button
        type="submit"
        class="settings-apply"
        [disabled]="!preferenceForm.dirty"
      >
        Apply Changes
      </button>
    </form>
  </div>
</main>
