@import "../../../../assets/styles.scss";

.settings-page {
  margin-left: 20vw;
  color: var(--text);
  padding: 12.5vh 7.5%;
  font-weight: 500;

  > .settings-flex {
    display: flex;
    padding-bottom: 5vh;

    > h1 {
      font-size: 1.5rem;
      font-weight: 800;
    }

    > .settings-delete-overlay {
      display: flex;
      z-index: 99;
      background-color: rgba($color: #000000, $alpha: 0.75);
      position: fixed;
      align-items: center;
      justify-content: center;
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;

      > .settings-delete-prompt {
        background-color: var(--background);
        width: fit-content;
        padding: 3vh 3vw;
        height: fit-content;
        border-radius: 8px;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 2vh;

        > p {
          @media screen and (max-width: 370px) {
            font-size: 0.9rem;
            text-align: center;
          }
        }

        > .close-form {
          transform: scale(1);
          align-self: flex-start;
          position: relative;
          top: 0;

          &:hover {
            cursor: pointer;
            color: var(--accent);
          }
        }
      }
    }
  }

  > .settings-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 10vh;
    justify-content: center;

    @media screen and (max-width: 850px) {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 8vh;
    }

    > .settings-item {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 2vh;

      > h3 {
        color: var(--accent);
      }

      > p {
        font-size: 1.1rem;
        color: var(--text);
      }

      > a {
        &:hover {
          color: var(--accent);
        }
      }

      > span {
        display: flex;
        gap: 2vw;
      }

      > .settings-theme {
        display: flex;
        flex-direction: column;
        gap: 10px;

        > div {
          display: flex;
          gap: 10px;

          > button {
            padding: 10px 20px;
            font-weight: 600;
            border: 2px solid var(--text);
            border-radius: 8px;
            background: transparent;
            color: var(--text);

            &:hover {
              background: var(--text);
              color: var(--text2);
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
