@import "../../../../assets/styles.scss";

.settings-page {
  margin-left: 20vw;
  color: var(--text);
  padding: 12.5vh 7.5%;
  font-weight: 500;

  > .settings-flex {
    display: flex;
    padding-bottom: 5vh;

    > h1 {
      font-size: 1.5rem;
      font-weight: 800;
    }
  }

  > .settings-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 10vh;
    justify-content: center;

    @media screen and (max-width: 850px) {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 8vh;
    }

    > .settings-item {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 2vh;

      > h3 {
        color: var(--text);
      }

      > p,
      a {
        font-size: 1.1rem;
        color: var(--textSec);
        &:hover {
          color: var(--text);
        }
      }

      > span {
        display: flex;
        gap: 2vw;
      }

      // > .settings-delete-overlay {
      //   display: flex;
      //   z-index: 99;
      //   background-color: rgba($color: #000000, $alpha: 0.75);
      //   position: fixed;
      //   align-items: center;
      //   justify-content: center;
      //   width: 100vw;
      //   height: 100vh;
      //   top: 0;
      //   left: 0;

      //   > .settings-delete-prompt {
      //     background-color: var(--background);
      //     width: fit-content;
      //     padding: 3vh 2vw;
      //     height: fit-content;
      //     border-radius: 8px;
      //     display: flex;
      //     align-items: center;
      //     flex-direction: column;
      //     gap: 2vh;

      //     h2 {
      //       padding-right: 55px;
      //     }
      //     > p {
      //       @media screen and (max-width: 370px) {
      //         font-size: 0.9rem;
      //         text-align: center;
      //       }
      //     }

      //     > div > .close-form {
      //       transform: scale(1);
      //       align-self: flex-start;

      //       &:hover {
      //         cursor: pointer;
      //         color: var(--accent);
      //       }
      //     }
      //   }
      // }
    }
  }
}
