@import "../../../../assets/styles.scss";

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
  padding-top: 5vh;

  > .home-ref {
    font-size: 2.5rem;
    color: var(--text);
    margin-bottom: 5vh;
    font-weight: 900;

    > span {
      border-bottom: 5px solid var(--accent);
    }
  }

  > .login-form {
    height: 40vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    gap: 3vh;
    align-items: center;

    input {
      width: 15vw;
    }

    @media screen and (max-width: 1100px) {
      width: 45vw;
    }

    @media screen and (max-width: 800px) {
      width: 75vw;
    }

    > .login-extra {
      font-size: 1rem;
      display: flex;
      font-weight: 500;

      &:hover {
        color: var(--accent);
        cursor: pointer;
      }
    }

    > h1 {
      color: var(--text);
      text-align: center;
      padding-bottom: 1vh;
      font-size: 1.25rem;
      font-weight: 800;
    }

    > button {
      border: 2px solid var(--text);
      font-size: 1rem;
      background-color: transparent;
      padding: 20px 0;
      border-radius: 8px;
      margin-top: 1vh;
      margin-bottom: 1vh;
      color: var(--text);
      letter-spacing: 0px;
      font-weight: bold;
      transition: background-color 0.1s ease-in-out;

      &:hover {
        cursor: pointer;
        background-color: var(--text);
        color: var(--text2);
      }

      &:disabled {
        opacity: 0.5;
        &:hover {
          cursor: default;
          color: var(--text2);
        }
      }
    }
  }
}

.foot-note {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7vh;
  font-size: 0.9rem;
  font-weight: bold;
  color: var(--textSec);
  gap: 15px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  background-color: var(--background) 2;

  > a,
  p {
    color: var(--textSec);

    &:hover {
      color: var(--accent);
      cursor: pointer;
    }
  }
}
