<main class="login-container" *ngIf="!user">
  <a class="home-ref" routerLink=""> linkstorag<span>e</span> </a>

  <form
    class="login-form"
    [formGroup]="applyLoginForm"
    (submit)="submitLoginApplication()"
    *ngIf="loginForm"
  >
    <h1>Log in</h1>

    <label for="username">Username / Email</label>
    <mat-form-field appearance="fill">
      <input
        matInput
        type="text"
        id="login_username"
        formControlName="username"
      />
      <mat-error *ngIf="username?.invalid && username?.touched"
        >Username required</mat-error
      >
    </mat-form-field>

    <label for="login_password">Password (8-20 characters)</label>
    <mat-form-field appearance="fill">
      <input
        matInput
        id="login_password"
        type="password"
        formControlName="password"
      />
      <mat-error *ngIf="password?.invalid && password?.touched"
        >Invalid Password</mat-error
      >
    </mat-form-field>

    <div *ngIf="formErrors" class="form-errors">
      <span class="material-icons-round"> error </span>
      <p>{{ formErrors }}</p>
    </div>

    <div *ngIf="loadingService.isLoading$ | async">
      <mat-spinner diameter="35" style="margin: auto"></mat-spinner>
      <p style="text-align: center; margin-top: 10px">Logging in...</p>
    </div>

    <button type="submit" mat-raised-button [disabled]="applyLoginForm.invalid">
      Login
    </button>

    <a class="login-extra" routerLink="/user/register">
      Register for an account
    </a>
    <p class="login-extra" (click)="toggleForm()">Forgot Password</p>
  </form>
</main>

<!--Forgot password form-->
<app-forgot-login
  *ngIf="!loginForm"
  (toggleFormE)="toggleForm()"
></app-forgot-login>

<p *ngIf="user">You are already logged in.</p>

<footer class="foot-note" *ngIf="loginForm">
  <p routerLink="/versions">v2.1.0</p>

  <a href="https://github.com/JasonCqq/link-saver" target="_blank"
    >Source Code</a
  >

  <a
    href="https://www.termsfeed.com/live/a23806e5-a8bc-4542-a4fc-230353a493dc"
    target="_blank"
    >Privacy Policy</a
  >
</footer>
