<main class="login-container" *ngIf="!user">
  <a class="home-ref" routerLink=""> LinkStorage </a>

  <form
    class="login-form"
    [formGroup]="applyLoginForm"
    (submit)="submitLoginApplication()"
    *ngIf="loginForm"
  >
    <h1>Log in</h1>

    <mat-form-field appearance="outline">
      <mat-label for="username">Username</mat-label>
      <input
        matInput
        type="text"
        id="login_username"
        formControlName="username"
      />
      <mat-error *ngIf="username?.invalid && username?.touched"
        >Username required</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label for="login_password">Password (8-20 characters)</mat-label>

      <input
        matInput
        id="login_password"
        type="password"
        formControlName="password"
      />
      <mat-error *ngIf="password?.invalid && password?.touched"
        >Invalid Password</mat-error
      >
    </mat-form-field>

    <div *ngIf="formErrors" class="form-errors">
      <span class="material-icons-round"> error </span>
      <p>{{ formErrors }}</p>
    </div>

    <div *ngIf="loadingService.isLoading$ | async">
      <mat-spinner diameter="35" style="margin: auto"></mat-spinner>
      <p style="text-align: center; margin-top: 10px">Logging in...</p>
    </div>

    <button type="submit" mat-raised-button [disabled]="applyLoginForm.invalid">
      Login
    </button>

    <a class="login-extra" routerLink="/user/register">
      Register for an account
    </a>
    <p class="login-extra" (click)="toggleForm()">Forgot Password</p>
  </form>

  <div class="forgot-container" *ngIf="!loginForm">
    <form
      class="forgot-form"
      [formGroup]="forgotPasswordForm"
      (submit)="submitForgotApplication()"
    >
      <header>
        <button (click)="toggleForm()">Go Back</button>
        <h1>Forgot Password</h1>
      </header>

      <div *ngIf="forgotFormErrors" class="form-errors">
        <span class="material-icons-round"> error </span>
        <p>{{ forgotFormErrors }}</p>
      </div>

      <mat-form-field appearance="outline">
        <mat-label for="forgot_email">Email address</mat-label>
        <input
          matInput
          type="email"
          id="forgot_email"
          formControlName="forgot_email"
        />
        <mat-error *ngIf="forgot_email?.invalid && forgot_email?.touched"
          >Invalid Email</mat-error
        >
      </mat-form-field>

      <mat-form-field appearance="outline" *ngIf="forgotSuccess">
        <mat-label for="forgot_otp">OTP Code</mat-label>
        <input
          matInput
          type="number"
          id="forgot_otp"
          formControlName="forgot_otp"
        />
      </mat-form-field>

      <button
        type="submit"
        mat-raised-button
        [disabled]="forgotPasswordForm.invalid || this.forgotFormErrors"
        *ngIf="!this.forgotSuccess"
        class="forgot-form-button"
      >
        Get Code
      </button>

      <div *ngIf="loadingService.isLoading$ | async">
        <mat-spinner diameter="35" style="margin: auto"></mat-spinner>
        <p style="text-align: center; margin-top: 10px">Sending OTP Code...</p>
      </div>

      <button
        mat-raised-button
        [disabled]="forgotPasswordForm.invalid"
        *ngIf="this.forgotSuccess && !this.forgotSuccess2"
        (click)="submitOTPApplication()"
        class="forgot-form-button"
        type="button"
      >
        Submit Code
      </button>
    </form>

    <form
      [formGroup]="newPasswordForm"
      *ngIf="forgotSuccess2"
      (submit)="submitNewPasswordApplication()"
      class="new-pass-form"
    >
      <mat-form-field appearance="outline">
        <mat-label for="forgot_new_pass"
          >New Password (8-20 characters)</mat-label
        >
        <input
          matInput
          type="password"
          id="forgot_new_pass"
          formControlName="forgot_new_pass"
        />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label for="forgot_new_pass2">Confirm New Password</mat-label>
        <input
          matInput
          type="password"
          id="forgot_new_pass2"
          formControlName="forgot_new_pass2"
        />
      </mat-form-field>
      <div *ngIf="loadingService.isLoading$ | async">
        <mat-spinner diameter="35" style="margin: auto"></mat-spinner>
        <p style="text-align: center; margin-top: 10px">Changing...</p>
      </div>

      <button type="submit" class="submit-new-pass">Submit New Password</button>
    </form>
  </div>
</main>

<p *ngIf="user">You are already logged in.</p>

<footer class="foot-note">
  <p routerLink="/versions">beta v1.2.0</p>

  <a href="https://github.com/JasonCqq/link-saver" target="_blank"
    >&#x2022; Source Code</a
  >

  <a
    href="https://www.termsfeed.com/live/a23806e5-a8bc-4542-a4fc-230353a493dc"
    target="_blank"
    >&#x2022; Privacy Policy</a
  >
</footer>
