$accent: #5b4dbe;

.dashboard-container {
  display: flex;
  width: 100%;
  color: #262626;

  .d-sidebar {
    width: 17.5%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 1.2vh;
    padding: 0px 1vw;

    > div {
      padding: 10px 10px;
      display: flex;
      margin-left: 1vw;
      gap: 0.5vw;
    }

    > div > h1 {
      font-size: 1.2rem;
      font-weight: 700;
      letter-spacing: 0.5px;
    }

    .sidebar-search {
      display: flex;
      border: 2px solid #cbcaca;
      box-shadow: 1px 1px 3px #dee2e6;
      margin-top: 5vh;
      margin-bottom: 3vh;
      border-radius: 10px;

      #search {
        border: none;
        font-size: 0.9rem;
        font-weight: 600;
        width: 75%;

        &:focus {
          outline: none;
        }
      }
    }
  }

  .d-main {
    width: 82.5%;
    background-color: #fcfdfd;

    .main-title {
      padding: 15px 20px;
      display: flex;
      align-items: center;
      border-bottom: 3px solid $accent;
      width: 92.5%;
      margin: auto;

      > p {
        font-size: 1.8rem;
        font-weight: 700;
      }
    }

    .main-functions {
      display: flex;
      align-items: center;
      height: 10vh;

      > button {
        margin-left: 3vw;
        font-family: "Nunito";
        color: white;
        padding: 10px 20px;
        height: 5vh;
        width: 12.5vw;
        font-size: 1rem;
        font-weight: 800;
        background: #5b4dbe;
        border: none;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &:hover {
          border-color: $accent;
          cursor: pointer;
        }
      }
    }

    .main-content {
      height: auto;
      display: flex;
      flex-direction: column;
      margin-left: 3vw;

      .content-nav {
        display: flex;
        align-items: center;
        gap: 2vw;
        margin-top: 2vh;
        font-size: 0.75rem;
      }

      .content-grid {
        border: 1px solid #6d6d6d;
        height: 100vh;
        width: 95%;
      }
    }
  }
}
