<main class="dashboard-container" *ngIf="user">
  <div class="d-sidebar">
    <div class="sidebar-profile" *ngIf="user">
      <p *ngIf="user">Welcome, {{ user.username }}</p>
    </div>

    <div class="sidebar-tab">
      <mat-icon fontIcon="dashboard" class="sidebar-icon"></mat-icon>
      <h1>Dashboard</h1>
    </div>

    <div class="sidebar-tab">
      <mat-icon fontIcon="bookmarks" class="sidebar-icon"></mat-icon>
      <h1>Bookmarks</h1>
    </div>

    <div class="sidebar-tab">
      <mat-icon fontIcon="folder" class="sidebar-icon"></mat-icon>
      <h1>Folders</h1>
    </div>

    <div class="sidebar-tab">
      <mat-icon fontIcon="upcoming" class="sidebar-icon"></mat-icon>
      <h1>Upcoming</h1>
    </div>

    <div class="sidebar-tab">
      <mat-icon fontIcon="delete" class="sidebar-icon"></mat-icon>
      <h1>Trash</h1>
    </div>

    <div class="sidebar-tab sidebar-bottom" (click)="logOut()">
      <mat-icon fontIcon="logout" class="sidebar-icon"></mat-icon>
      <h1>Logout</h1>
    </div>

    <a routerLink="/" class="sidebar-tab">
      <mat-icon fontIcon="home" class="sidebar-icon"></mat-icon>
      <h1>Home</h1>
    </a>

    <div class="sidebar-tab" style="margin-bottom: 5vh">
      <mat-icon fontIcon="settings" class="sidebar-icon"></mat-icon>
      <h1>Settings</h1>
    </div>
  </div>

  <div class="d-main">
    <nav class="main-nav">
      <p>Dashboard</p>

      <div class="nav-right">
        <div class="nav-search">
          <mat-icon fontIcon="search" class="search-icon"></mat-icon>
          <input id="search" placeholder="Search" />
        </div>

        <div class="nav-function">
          <button (click)="toggleForm()">
            <mat-icon fontIcon="add"></mat-icon>
            Add a new link
          </button>

          <div *ngIf="createForm === true" class="create-form-overlay">
            <div class="create-form">
              <mat-icon
                fontIcon="close"
                (click)="toggleForm()"
                class="create-form-close"
              ></mat-icon>
              <app-link-form></app-link-form>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <div class="main-content">
      <div class="content-nav">
        <p>Recently Viewed</p>
        <p>Filter</p>
        <mat-icon fontIcon="apps"></mat-icon>
        <mat-icon fontIcon="view_list"></mat-icon>
        <mat-icon fontIcon="view_headline"></mat-icon>
      </div>
      <div class="content-grid">
        <app-link-item></app-link-item>
      </div>
    </div>
  </div>
</main>
