<!-- SET REMINDERS/NOTIFICATIONS SO USER CAN COME BACK ON RIGHT DAY -->
<main class="dashboard-container">
  <div class="d-sidebar">
    <div class="sidebar-profile">
      <p>Welcome, Jason</p>
    </div>

    <div class="sidebar-tab">
      <mat-icon fontIcon="dashboard" class="sidebar-icon"></mat-icon>
      <h1>Dashboard</h1>
    </div>

    <div class="sidebar-tab">
      <mat-icon fontIcon="bookmarks" class="sidebar-icon"></mat-icon>
      <h1>Bookmark</h1>
    </div>

    <div class="sidebar-tab">
      <mat-icon fontIcon="folder" class="sidebar-icon"></mat-icon>
      <h1>Folders</h1>
    </div>

    <div class="sidebar-tab">
      <mat-icon fontIcon="upcoming" class="sidebar-icon"></mat-icon>
      <h1>Upcoming</h1>
    </div>

    <div class="sidebar-tab">
      <mat-icon fontIcon="delete" class="sidebar-icon"></mat-icon>
      <h1>Trash</h1>
    </div>

    <div class="sidebar-tab sidebar-bottom">
      <mat-icon fontIcon="logout" class="sidebar-icon"></mat-icon>
      <h1>Logout</h1>
    </div>

    <a href="/" class="sidebar-tab">
      <mat-icon fontIcon="home" class="sidebar-icon"></mat-icon>
      <h1>Home</h1>
    </a>

    <div class="sidebar-tab" style="margin-bottom: 5vh">
      <mat-icon fontIcon="settings" class="sidebar-icon"></mat-icon>
      <h1>Settings</h1>
    </div>
  </div>

  <div class="d-main">
    <nav class="main-nav">
      <p>Dashboard</p>

      <div class="nav-right">
        <div class="nav-search">
          <mat-icon fontIcon="search" class="search-icon"></mat-icon>
          <input id="search" placeholder="Search" />
        </div>

        <div class="nav-function">
          <button (click)="toggleForm()">
            <mat-icon fontIcon="add"></mat-icon>
            Add a new link
          </button>

          <div *ngIf="createForm === true" class="create-form-overlay">
            <div class="create-form">
              <p (click)="toggleForm()">CLOSE</p>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <div class="main-content">
      <div class="content-nav">
        <p>Recently Viewed</p>
        <p>Filter</p>
        <mat-icon fontIcon="apps"></mat-icon>
        <mat-icon fontIcon="view_list"></mat-icon>
        <mat-icon fontIcon="view_headline"></mat-icon>
      </div>
      <div class="content-grid">
        <app-link></app-link>
      </div>
    </div>
  </div>
</main>
