@import "../../../styles.scss";

.dashboard-container {
  display: flex;
  width: 100%;
  color: $text;

  .d-sidebar {
    width: 15vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
    padding: 0px 1vw;
    background-color: $background;
    position: fixed;
    left: 0;
    border-right: 2px solid #171f2c;

    .sidebar-profile {
      margin-top: 5vh;
      display: flex;
      align-items: center;
      gap: 1vw;
      padding-bottom: 2vh;
      border-bottom: 2px solid $accent;
      margin-bottom: 5vh;
      margin-left: 1vw;
      justify-content: center;

      > p {
        font-size: 1.1rem;
        font-weight: bold;
      }
    }

    > .sidebar-tab {
      padding: 7px 15px;
      display: flex;
      margin-left: 1vw;
      gap: 0.5vw;
      border-radius: 5px;
      transition: background-color 0.05s ease-in-out;

      &:hover {
        background-color: $accent;
        cursor: pointer;

        > .sidebar-icon {
          color: $text;
        }
      }
    }

    > .sidebar-bottom {
      margin-top: auto;
    }

    > .sidebar-tab > h1 {
      font-size: 1.1rem;
      font-weight: 700;
      letter-spacing: 0.5px;
      color: $text;
    }

    > .sidebar-tab > .sidebar-icon {
      color: $accent;
      font-size: 1.5rem;

      font-variation-settings:
        "FILL" 0,
        "wght" 400,
        "GRAD" 0,
        "opsz" 24;
    }
  }

  .d-main {
    width: 85vw;
    background-color: $background;
    //change to auto later
    height: 100vh;
    margin-left: 15vw;

    .main-nav {
      height: 10vh;
      display: flex;
      align-items: center;
      width: 100%;
      border-bottom: 2px solid #171f2c;

      > p {
        font-size: 1.8rem;
        font-weight: 700;
        margin-left: 3vw;
      }

      .nav-right {
        display: flex;
        margin-left: auto;
        gap: 2vw;
        margin-right: 5vw;

        > .nav-search {
          display: flex;
          border-radius: 5px;
          border: 2px solid $accent;
          align-items: center;

          .search-icon {
            font-size: 1.5rem;
            padding: 10px;
          }

          #search {
            border: none;
            font-size: 0.9rem;
            font-weight: 600;
            width: 75%;
            padding: 10px;
            background-color: $background;

            &:focus {
              outline: none;
            }
          }
        }

        > .nav-function {
          > button {
            font-family: "Nunito";
            color: white;
            padding: 12px 17px;
            width: auto;
            font-size: 1rem;
            font-weight: 700;
            background: $accent;
            border: none;
            border-radius: 5px;
            display: flex;
            align-items: center;
            transition: box-shadow 0.15s ease-in-out;

            &:hover {
              cursor: pointer;
              box-shadow: 1px 1px 5px $accent;
            }
          }

          > .create-form-overlay {
            position: fixed;
            top: 0;
            left: 0;
            background-color: rgba($color: #000000, $alpha: 0.2);
            height: 100vh;
            width: 100vw;
            display: flex;
            align-items: center;
            justify-content: center;

            > .create-form {
              background-color: $background;
              height: 60vh;
              width: 30vw;
              border-radius: 10px;
            }
          }
        }
      }
    }

    .main-content {
      height: auto;
      display: flex;
      flex-direction: column;
      margin-left: 3vw;
      background-color: $background;

      .content-nav {
        display: flex;
        align-items: center;
        gap: 1vw;
        margin-top: 2vh;
        font-size: 0.75rem;
        height: 5vh;
      }

      .content-grid {
        height: auto;
        width: 95%;
      }
    }
  }
}
