<!-- SET REMINDERS/NOTIFICATIONS SO USER CAN COME BACK ON RIGHT DAY -->
<main class="dashboard-container">
  <div class="d-sidebar">
    <div class="sidebar-search">
      <mat-icon fontIcon="search"></mat-icon>
      <input id="search" placeholder="Search" />
    </div>

    <div style="background-color: #5b4dbe; color: white; border-radius: 10px">
      <mat-icon fontIcon="dashboard"></mat-icon>
      <h1>Dashboard</h1>
    </div>

    <div class="sidebar-pins">
      <mat-icon fontIcon="star"></mat-icon>
      <h1>Pinned</h1>
    </div>

    <div class="sidebar-folders">
      <mat-icon fontIcon="folder"></mat-icon>
      <h1>Folders</h1>
    </div>

    <div>
      <mat-icon fontIcon="settings"></mat-icon>
      <h1>Settings</h1>
    </div>
  </div>

  <div class="d-main">
    <div class="main-title">
      <p>Recent</p>

      <div class="profile">
        <p>Jason!</p>
      </div>
    </div>

    <div class="main-functions">
      <button>
        Add Link
        <mat-icon fontIcon="add"></mat-icon>
      </button>
      <button>
        Add Multiple
        <mat-icon fontIcon="add"></mat-icon>
      </button>
    </div>

    <div class="main-content">
      <div class="content-nav">
        <p>Recently Viewed</p>
        <p>Filter</p>
        <mat-icon fontIcon="apps"></mat-icon>
        <mat-icon fontIcon="view_list"></mat-icon>
        <mat-icon fontIcon="view_headline"></mat-icon>
      </div>
      <div class="content-grid"></div>
    </div>
  </div>
</main>
