<app-main-sidebar></app-main-sidebar>
<app-main-nav
  (searchResults)="displayResults($event)"
  (sortByResults)="sortResults($event)"
></app-main-nav>

<main class="dashboard-container default-dash-container">
  <span *ngIf="tempTitle === 'Trash'">
    <button (click)="togglePrompt()">Clear All</button>

    <section *ngIf="clearPrompt" class="clear-prompt-overlay">
      <div class="clear-prompt">
        <h1>Clear all links?</h1>
        <p style="color: red">This action is permanent.</p>

        <div class="clear-prompt-flex">
          <button (click)="togglePrompt()">No</button>

          <button
            class="clear-prompt-yes"
            (click)="deleteAllTrash(); togglePrompt()"
          >
            Yes
          </button>
        </div>
      </div>
    </section>
  </span>

  <section
    [ngClass]="previews === true ? 'content-grid' : 'content-grid-no-previews'"
    @fadeIn
    @fadeOut
  >
    <div *ngIf="loadingService.isLoading$ | async">
      <mat-spinner diameter="35" style="margin: auto"></mat-spinner>
      <p style="text-align: center; margin-top: 10px">Loading...<br /></p>
    </div>

    <div *ngFor="let link of tempLinks">
      <app-link-item
        [itemData]="link"
        (linkUpdate)="linkEvent($event)"
        (linkPermDelete)="deletePerm($event)"
      ></app-link-item>
    </div>
  </section>
</main>
