@import "../../../../assets/sharedstyles.scss";

span {
  margin: 0;
  > .clear-prompt-overlay {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.75);
    height: 100vh;
    width: 100vw;
    z-index: 99;

    > .clear-prompt {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 2vh;
      width: 25vw;
      height: 20vh;
      border-radius: 10px;
      box-shadow: 1px 1px 25px $boxshad;
      background: $background;

      @media screen and (max-width: 1200px) {
        width: 35vw;
      }

      @media screen and (max-width: 850px) {
        width: 50vw;
      }

      @media screen and (max-width: 550px) {
        width: 75vw;
      }

      > .clear-prompt-flex {
        display: flex;
        gap: 2.5vw;

        @media screen and (max-width: 850px) {
          gap: 5vw;
        }

        > button {
          border: none;
          padding: 10px 25px;
          color: $text;
          border: 3px solid $accent;
          background: $accent;
          border-radius: 10px;

          &:hover {
            cursor: pointer;
            background: transparent;
          }
        }

        > .clear-prompt-no {
          border: 3px solid $accent;
          background: transparent;
          &:hover {
            background: $accent;
          }
        }
      }
    }
  }

  > button {
    color: $text;
    padding: 12px 21px;
    font-weight: 900;
    background-color: $imp-button;
    border: 3px solid $imp-button;
    border-radius: 10px;
    display: flex;
    align-items: center;
    transition: box-shadow 0.1s ease-in-out;
    margin-top: 3vh;

    @media screen and (max-width: 440px) {
      margin-top: 2vh;
    }

    @media screen and (max-width: 340px) {
      margin-top: 2vh;
      margin-left: 10vw;
    }

    transition: background-color 0.1s;
    &:hover {
      cursor: pointer;
      background-color: transparent;
    }
  }
}
