@import "../../../../assets/sharedstyles.scss";

span {
  margin-top: 25px;
  > .clear-prompt-overlay {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.75);
    height: 100vh;
    width: 100vw;
    z-index: 99;

    > .clear-prompt {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 2vh;
      padding: 3vh 5vw;
      width: fit-content;
      height: fit-content;
      border-radius: 8px;
      background: var(--background);

      > .clear-prompt-flex {
        display: flex;
        gap: 2.5vw;

        @media screen and (max-width: 850px) {
          gap: 5vw;
        }
      }
    }
  }
}

.to-top {
  position: fixed;
  top: 0;
  right: 0;
  cursor: pointer;
  border-radius: 0px;
  padding: 2px 4px;
  background-color: var(--background);
  border-left: 2px solid var(--text);
  border-bottom: 2px solid var(--text);
  border-right: 0px;
  border-top: 0px;
  color: var(--text);
}
