<main class="register-container">
  <a class="home-ref" routerLink="/home"> LinkStorage </a>

  <form
    class="login-form"
    [formGroup]="applyLoginForm"
    (submit)="submitLoginApplication()"
  >
    <h1>Log in</h1>

    <mat-form-field appearance="outline">
      <mat-label for="username">Username</mat-label>
      <input
        matInput
        type="text"
        id="login_username"
        formControlName="username"
      />
      <mat-error *ngIf="username?.invalid && username?.touched"
        >Username required</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label for="password">Password (8-20 characters)</mat-label>

      <input
        matInput
        id="login_password"
        type="password"
        formControlName="password"
      />
      <mat-error *ngIf="password?.invalid && password?.touched"
        >Invalid Password</mat-error
      >
    </mat-form-field>

    <button type="submit" mat-raised-button [disabled]="applyLoginForm.invalid">
      Login
    </button>

    <a class="login-ref" routerLink="/register"> Register for an account </a>

    <p>Forgot Username or Password</p>
  </form>
</main>
