<main class="register-container">
  <a class="home-ref" routerLink="/home"> LinkStorage </a>

  <form class="register-form">
    <h1>Log in</h1>

    <div>
      <label>Username *</label>
      <input />
    </div>

    <div>
      <label>Password *</label>
      <input />
    </div>

    <button type="submit">Login</button>
  </form>

  <p>——— or ———</p>

  <button class="google-auth">Continue with Google</button>

  <a class="login-ref" routerLink="/register">
    Dont have an account? Register
  </a>
</main>
