@import "../dashboard/links/link-item/link-item.component.scss";
@import "../../../assets/sharedstyles.scss";

.public-folder {
  height: auto;
  width: 100vw;

  > header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;

    > .public-sign-up {
      position: absolute;
      top: 0;
      height: 4vh;
      background: var(--background2);
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--text);
      width: 100vw;
      font-weight: 600;

      @media screen and (max-width: 400px) {
        font-size: 0.8rem;
      }

      @media screen and (max-width: 300px) {
        font-size: 0.7rem;
      }
    }

    > .sort-flex {
      display: flex;
      gap: 7px;

      span {
        &:hover {
          cursor: pointer;
          color: var(--accent);
        }
      }

      .active {
        font-weight: 700;
        color: var(--accent);
      }

      .inactive {
        font-weight: 500;
        color: var(--text);
      }
    }

    > a {
      color: var(--text);
      font-size: 2.5rem;
      font-weight: 900;
      padding-top: 7vh;

      > span {
        border-bottom: 5px solid var(--accent);
      }
    }

    > p {
      font-weight: 500;
    }
  }

  > .content-grid {
    margin-left: 3vw;
    margin-top: 3vh;
    margin-left: 6vw;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fit, 175px);

    position: relative;

    column-gap: 15px;
    row-gap: 2vh;

    @media screen and (max-width: 817px) {
      justify-content: center;
      align-items: center;
    }

    @media screen and (max-width: 400px) {
      grid-template-columns: repeat(auto-fit, 150px);
    }

    @media screen and (max-width: 340px) {
      row-gap: 5vh;
    }
  }
}

.public-hidden,
.public-password {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  gap: 2vh;

  > a {
    font-size: 2.5rem;
    color: var(--accent);
    font-weight: bold;
  }

  > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-top: 15px;

    button {
      background: transparent;
      border-radius: 8px;
      border: 2px solid var(--accent);
      padding: 10px 25px;
      font-weight: bold;
      color: var(--text);
      font-size: 1rem;
      margin-bottom: 2vh;

      transition:
        background-color 0.1s ease-in-out,
        color 0.1s ease-in-out;

      &:hover {
        background-color: var(--accent);
        cursor: pointer;
      }
    }
  }
}

.foot-note {
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7vh;
  font-size: 0.9rem;
  font-weight: bold;
  color: var(--textSec);
  gap: 15px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;

  > a,
  p {
    color: var(--textSec);

    &:hover {
      color: var(--accent);
      cursor: pointer;
    }
  }
}
