@import "../dashboard/links/link-item/link-item.component.scss";
@import "../../../assets/sharedstyles.scss";

.public-folder {
  height: auto;
  width: 100vw;

  > header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;

    > .public-sign-up {
      position: absolute;
      top: 0;
      height: 4vh;
      background: $accent;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $text;
      width: 100vw;
      font-weight: 500;

      @media screen and (max-width: 400px) {
        font-size: 0.8rem;
      }

      @media screen and (max-width: 300px) {
        font-size: 0.7rem;
      }
    }

    > a {
      color: $accent;
      font-size: 2.5rem;
      font-weight: 900;
      padding-top: 7vh;
      transition: transform 0.1s;

      &:hover {
        transform: translateY(-5px);
      }
    }

    > p {
      font-weight: 500;
    }

    > button {
      padding: 12px 20px;
      border: none;
      border: 3px solid $accent;
      border-radius: 10px;
      background: transparent;
      color: $text;
      margin-top: 10px;
      font-weight: 700;
      font-size: 0.9rem;

      &:hover {
        cursor: pointer;
        background-color: $accent;
      }
    }
  }

  // > .content-grid-no-previews {
  //   margin-left: 5vw;
  //   margin-top: 3vh;

  //   @media screen and (max-width: 440px) {
  //     justify-content: center;
  //     align-items: center;
  //     margin-left: 0vw;
  //   }
  // }

  > .content-grid,
  .content-grid-no-previews {
    margin-left: 3vw;
    margin-top: 3vh;
    margin-left: 6vw;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 130px));

    position: relative;

    column-gap: 0.25vw;
    row-gap: 2vh;

    @media screen and (max-width: 817px) {
      justify-content: center;
      align-items: center;
    }

    @media screen and (max-width: 340px) {
      row-gap: 5vh;
    }
  }
}

.public-hidden,
.public-password {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  gap: 2vh;

  > a {
    font-size: 2.5rem;
    color: $accent;
    font-weight: bold;
  }

  > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-top: 15px;

    button {
      background: transparent;
      border-radius: 10px;
      border: 3px solid $accent;
      padding: 10px 25px;
      font-weight: bold;
      color: $text;
      font-size: 1rem;
      margin-bottom: 2vh;

      transition:
        background-color 0.1s ease-in-out,
        color 0.1s ease-in-out;

      &:hover {
        background-color: $accent;
        cursor: pointer;
      }
    }
  }
}

.foot-note {
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7vh;
  font-size: 0.9rem;
  font-weight: bold;
  color: $textSec;
  gap: 15px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  background: rgba($color: $background2, $alpha: 0.5);

  > a,
  p {
    color: $textSec;

    &:hover {
      color: $accent;
      cursor: pointer;
    }
  }
}
