<main>
  <h1 routerLink="">linkstorag<span>e</span></h1>

  <section>
    <h2>Versions</h2>

    <div *ngFor="let version of versions" class="versions-grid">
      <div class="versions-item" (click)="toggleActive(version.id)">
        <h3>V{{ version.version }}</h3>
        <section *ngIf="this.activeID === version.id">
          <div>
            <h4>Update(s)</h4>
            <ul *ngFor="let update of version.updates">
              <li>{{ update }}</li>
            </ul>
          </div>

          <div>
            <h4>Quality of Life</h4>
            <ul *ngFor="let qol of version.qols">
              <li>{{ qol }}</li>
            </ul>
          </div>

          <div>
            <h4>Bug fixes</h4>
            <ul *ngFor="let bugfix of version.bugfixes">
              <li>{{ bugfix }}</li>
            </ul>
          </div>
        </section>
      </div>
    </div>
  </section>
</main>
