<main class="register-container">
  <a class="home-ref" routerLink="/home"> LinkStorage </a>

  <form class="register-form">
    <h1>Sign Up</h1>

    <div>
      <label>Username *</label>
      <input />
    </div>
    <div>
      <label>Email address *</label>
      <input />
    </div>

    <div>
      <label>Password *</label>
      <input />
    </div>

    <button type="submit">Register</button>
  </form>

  <p>——— or ———</p>

  <button class="google-auth">Continue with Google</button>

  <a class="login-ref" routerLink="/login"> Already have an account? Log in </a>
</main>
