<app-main-sidebar></app-main-sidebar>

<main>
  <div class="url-title">
    <h1>URL Bank</h1>
    <p style="color: rgb(199, 199, 199)">
      (Total of {{ this.urls.length }} urls)
    </p>
  </div>

  <div class="url-util">
    <button class="url-util-add" (click)="toggleUrlForm()">Add URL(s)</button>
    <button class="url-util-del">Delete All</button>
  </div>

  <p *ngIf="">Click here to confirm Delete All.</p>

  <div class="url-grid">
    <div class="url-item" *ngFor="let u of this.urls">
      <div class="url-options">
        <span class="material-icons-round url-delete"> close </span>

        <span class="material-icons-round" (click)="copyUrl(u.url)">
          content_copy
        </span>
      </div>

      <div class="url-details">
        <h1 class="url-title">{{ u.title }}</h1>
        <p class="url-date">{{ u.url }}</p>
      </div>
    </div>
  </div>
</main>

<div *ngIf="urlFormPop" class="add-url-form">
  <form [formGroup]="urlForm" (submit)="submitUrlForm()">
    <span class="material-icons-round" (click)="toggleUrlForm()"> close </span>

    <h1>Add URL(s)</h1>
    <p>
      Urls must start with (https/http/www) or end with (a dot) <br />
      Paragraphs of links are allowed. Invalid Urls will be omitted
    </p>

    <textarea
      #urls
      formControlName="urls"
      rows="30"
      cols="50"
      placeholder="URLs go here..."
    ></textarea>

    <button type="submit" [disabled]="!urlForm.dirty">SUBMIT</button>
  </form>
</div>
