main {
  padding-left: 5vw;
  margin-top: 2vh;
  width: 85vw;
  height: auto;

  @media screen and (max-width: 940px) {
    margin: 5vh 0 1vh 0vw;
  }

  .url-title {
    display: flex;
    gap: 20px;
    width: fit-content;

    > h1 {
      @media screen and (max-width: 320px) {
        font-size: 1.65rem;
      }
    }
  }

  .url-util {
    display: flex;
    gap: 25px;
    margin-top: 20px;
  }

  .url-grid {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    gap: 15px;
    width: 100%;

    > .url-item {
      display: flex;
      max-width: 100vw;
      overflow: hidden;

      > .url-options {
        transform: scale(0.7);
        display: flex;
        gap: 10px;

        > .url-delete {
          color: var(--imp-button);
        }

        > span {
          &:hover {
            color: var(--text);
            cursor: pointer;
          }
        }
      }

      > .url-details {
        display: flex;

        img {
          width: 20px;
          height: 20px;
          object-fit: fill;
        }

        > span {
          padding-left: 10px;
          > h1 {
            font-size: 13px;
            font-weight: 500;
            white-space: nowrap;
            overflow: hidden;
          }

          transition: color 0.05s ease-in-out;

          &:hover {
            color: var(--accent);
          }

          > p {
            color: var(--textSec);
            font-size: 10px;
            padding-top: 3px;
          }
        }
      }
    }
  }

  .del-prompt {
    color: red;
    font-weight: 700;
    margin-top: 10px;
    font-size: 13px;
    width: fit-content;

    &:hover {
      font-weight: 900;
      cursor: pointer;
    }
  }

  .del-note {
    color: var(--textSec);
    margin-top: 10px;
    font-size: 13px;
  }
}

.add-url-form {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99;
  background-color: rgba(black, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;

  > form {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    background-color: var(--background);
    padding: 25px;
    gap: 10px;
    height: fit-content;

    @media screen and (max-width: 500px) {
      width: 90vw;
      height: 80vh;
    }

    > div > span {
      width: 10px;
      &:hover {
        cursor: pointer;
        color: var(--accent);
      }
    }

    > p {
      color: var(--textSec);
      font-size: 0.8rem;

      @media screen and (max-width: 500px) {
        font-size: 10px;
      }
    }

    > textarea {
      border: none;
      background-color: transparent;
      color: var(--text);
      border: 1px solid gray;
      border-radius: 5px;
      padding: 5px;
      resize: none;
    }

    > button {
      margin-top: 5px;
      border: none;
      border: 2px solid var(--accent);
      background-color: transparent;
      border-radius: 8px;
      font-size: 0.9rem;
      color: var(--text);
      padding: 10px 0px;

      &:disabled {
        opacity: 0.35;
      }

      &:hover {
        cursor: pointer;
        background-color: var(--accent);
      }
    }
  }
}
