<app-main-sidebar></app-main-sidebar>

<main>
  <div class="url-title">
    <h1>URL Bank</h1>
    <p style="color: rgb(199, 199, 199)">(Total of 38 urls)</p>
  </div>

  <div class="url-util">
    <button class="url-util-add" (click)="toggleUrlForm()">Add URL(s)</button>
    <button class="url-util-del">Delete All</button>
  </div>

  <p *ngIf="">Click here to confirm Delete All.</p>
  <p style="color: gray">
    Link #1, Copy/Delete (a Moved date, Created date, Drag/Drop feature)
  </p>

  <div class="url-grid" *ngFor="let u of this.urls">
    <h1 class="url-title">{{ u.title }}</h1>
    <p class="url-date">{{ u.url }}</p>
  </div>
</main>

<div *ngIf="urlFormPop" class="add-url-form">
  <form [formGroup]="urlForm" (submit)="submitUrlForm()">
    <span class="material-icons-round" (click)="toggleUrlForm()"> close </span>

    <h1>Add URL(s)</h1>
    <p>Note: Commas will auto add at the end of url</p>

    <textarea
      #urls
      formControlName="urls"
      rows="30"
      cols="50"
      placeholder="URLs go here..."
    ></textarea>

    <button type="submit">SUBMIT</button>
  </form>
</div>
