@import "../../../../assets/styles.scss";

label {
  font-weight: 500;
}

.register-container {
  display: flex;
  flex-direction: column;
  padding-top: 5vh;
  align-items: center;

  background-color: var(--background);

  > .home-ref {
    font-size: 2.5rem;
    color: var(--accent);
    margin-bottom: 5vh;
    font-weight: 800;
  }

  > .register-form {
    height: 40vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    gap: 2vh;

    @media screen and (max-width: 1100px) {
      width: 45vw;
    }

    @media screen and (max-width: 800px) {
      width: 75vw;
    }

    > h1 {
      color: var(--text);
      text-align: center;
      padding-bottom: 2vh;
      font-size: 1.25rem;
    }

    > button {
      border: none;
      border: 3px solid var(--accent);
      font-size: 1rem;
      background-color: transparent;
      padding: 20px 0;
      border-radius: 10px;
      margin-top: 1vh;
      margin-bottom: 1vh;
      color: var(--text);

      font-weight: bold;
      transition: background-color 0.1s ease-in-out;

      &:hover {
        cursor: pointer;
        background-color: var(--accent);
      }

      &:disabled {
        opacity: 0.4;
        &:hover {
          cursor: default;
          color: var(--text2);
        }
      }
    }

    > .register-extra {
      font-size: 1rem;
      font-weight: 500;
      &:hover {
        color: var(--accent);
        cursor: pointer;
      }
    }
  }

  > .register-otp {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
    text-align: center;
    background-color: var(--background) 2;
    border-radius: 10px;
    padding: 50px 35px;

    > h1 {
      color: var(--accent);
      font-size: 1.5rem;
    }

    > span {
      font-size: 4rem;
      background-color: var(--accent);
      border-radius: 50px;
      padding: 10px;
    }

    > p {
      font-weight: 500;
      line-height: 25px;
      color: var(--textSec);
    }
  }
}

.foot-note {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7vh;
  font-size: 0.9rem;
  font-weight: bold;
  color: var(--textSec);
  gap: 15px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  background-color: var(--background) 2;

  > a,
  p {
    color: var(--textSec);

    &:hover {
      color: var(--accent);
      cursor: pointer;
    }
  }
}
