<main class="register-container">
  <a class="home-ref" routerLink=""> linkstorag<span>e</span> </a>

  <form
    class="register-form"
    [formGroup]="applyForm"
    (submit)="submitApplication()"
    *ngIf="!otpSent"
  >
    <h1>Sign Up</h1>

    <label for="username">Username</label>
    <mat-form-field appearance="fill">
      <input matInput type="text" id="username" formControlName="username" />
      <mat-error *ngIf="username?.invalid && username?.touched"
        >Username required</mat-error
      >
    </mat-form-field>

    <label for="password">Password (8-20 characters)</label>
    <mat-form-field appearance="fill">
      <input
        matInput
        id="password"
        type="password"
        formControlName="password"
      />
      <mat-error *ngIf="password?.invalid && password?.touched"
        >Invalid Password</mat-error
      >
    </mat-form-field>

    <label for="email">Email</label>
    <mat-form-field appearance="fill">
      <input matInput type="text" id="email" formControlName="email" />
      <mat-error *ngIf="email?.invalid && email?.touched"
        >Invalid Email</mat-error
      >
    </mat-form-field>

    <label for="emailConfirm">Confirm Email</label>
    <mat-form-field appearance="fill">
      <input
        matInput
        type="text"
        id="emailConfirm"
        formControlName="emailConfirm"
      />
    </mat-form-field>

    <div *ngIf="formErrors" class="form-errors">
      <span class="material-icons-round"> error </span>
      <p>{{ formErrors }}</p>
    </div>

    <!--Google Signup-->
    <div
      id="g_id_onload"
      data-client_id="307651115210-ro83kbna8k95pfm0ft2dubaoc2i3fpbc.apps.googleusercontent.com"
      data-context="signup"
      data-ux_mode="popup"
      data-itp_support="true"
      data-callback="handleCredentialResponse"
      data-auto_prompt="false"
    ></div>
    <div
      class="g_id_signin"
      data-type="standard"
      data-shape="rectangular"
      data-theme="filled_black"
      data-text="signup_with"
      data-size="large"
      data-logo_alignment="left"
    ></div>

    <button
      type="submit"
      mat-raised-button
      [disabled]="applyForm.invalid"
      *ngIf="!formLoading"
    >
      Register
    </button>

    <div *ngIf="loadingService.isLoading$ | async">
      <mat-spinner diameter="35" style="margin: auto"></mat-spinner>
      <p style="text-align: center; margin-top: 10px">One Second...</p>
    </div>

    <a class="register-extra" routerLink="/user/login"> I have an account </a>
  </form>
</main>

<footer class="foot-note">
  <p routerLink="/versions">v2.1.1</p>

  <a href="https://github.com/JasonCqq/link-saver" target="_blank"
    >Source Code</a
  >

  <a routerLink="/privacy">Privacy Policy</a>

  <a routerLink="/terms">Terms of Service</a>
</footer>
