<main class="register-container">
  <a class="home-ref" routerLink=""> linkstorag<span>e</span> </a>

  @if (!otpSent) {
    <form
      class="register-form"
      [formGroup]="applyForm"
      (submit)="submitApplication()"
    >
      <h1>Sign Up</h1>

      <p-floatlabel variant="on">
        <input
          pInputText
          type="text"
          id="username"
          formControlName="username"
          [ngClass]="{ 'p-invalid': username?.invalid && username?.touched }"
        />
        <label for="username">Username</label>
      </p-floatlabel>

      <p-floatlabel variant="on">
        <input
          pInputText
          id="password"
          type="password"
          formControlName="password"
          [ngClass]="{ 'p-invalid': password?.invalid && password?.touched }"
        />
        <label for="password">Password (8-20 characters)</label>
      </p-floatlabel>

      <p-floatlabel variant="on">
        <input
          pInputText
          id="email"
          type="text"
          formControlName="email"
          [ngClass]="{ 'p-invalid': email?.invalid && email?.touched }"
        />
        <label for="email">Email</label>
      </p-floatlabel>

      <p-floatlabel variant="on">
        <input
          pInputText
          id="email"
          type="text"
          formControlName="emailConfirm"
          [ngClass]="{
            'p-invalid': emailConfirm?.invalid && emailConfirm?.touched,
          }"
        />
        <label for="emailConfirm">Confirm Email</label>
      </p-floatlabel>

      @if (formErrors) {
        <div class="form-errors">
          <span class="material-icons-round"> error </span>
          <p>{{ formErrors }}</p>
        </div>
      }

      @if (!formLoading) {
        <p-button type="submit" [disabled]="applyForm.invalid">
          Register
        </p-button>
      }

      <!--Google Signup-->
      <div
        id="g_id_onload"
        data-client_id="307651115210-ro83kbna8k95pfm0ft2dubaoc2i3fpbc.apps.googleusercontent.com"
        data-context="signup"
        data-ux_mode="popup"
        data-itp_support="true"
        data-callback="handleCredentialResponse"
        data-auto_prompt="false"
      ></div>
      <div
        class="g_id_signin"
        data-type="standard"
        data-shape="rectangular"
        data-theme="filled_black"
        data-text="signup_with"
        data-size="large"
        data-logo_alignment="left"
      ></div>

      @if (loadingService.isLoading$ | async) {
        <p-progress-spinner
          strokeWidth="5"
          fill="transparent"
          animationDuration=".75s"
          [style]="{ width: '35px', height: '35px' }"
        />
      }
      <a class="register-extra" routerLink="/user/login"> I have an account </a>
    </form>
  }
</main>

<footer class="foot-note">
  <p routerLink="/versions">v2.1.1</p>

  <a href="https://github.com/JasonCqq/link-saver" target="_blank"
    >Source Code</a
  >

  <a routerLink="/privacy">Privacy Policy</a>

  <a routerLink="/terms">Terms of Service</a>
</footer>
