<div class="mass-edit-overlay">
  <form [formGroup]="massEditForm" (submit)="submitMassEditForm()">
    <mat-icon
      fontIcon="close"
      class="close-form"
      (click)="toggleForm()"
    ></mat-icon>
    <h1>Edit Actions</h1>

    <div class="mass-edit-flex">
      <button
        *ngIf="title !== 'Trash'"
        (click)="submitMassResDelForm('delete')"
        type="button"
        class="mass-delete-button"
      >
        Move to Trash
      </button>
      <button
        *ngIf="title === 'Trash'"
        (click)="submitMassResDelForm('restore')"
        type="button"
        class="mass-restore-button"
      >
        Restore All
      </button>

      <mat-slide-toggle
        [hideIcon]="true"
        #massBookmark
        formControlName="massBookmark"
        >Bookmark All</mat-slide-toggle
      >
    </div>

    <mat-form-field appearance="outline">
      <mat-label for="massTitle">Title (Optional)</mat-label>
      <input matInput type="text" #massTitle formControlName="massTitle" />
    </mat-form-field>

    <mat-form-field>
      <input
        type="datetime"
        matInput
        #massRemind
        formControlName="massRemind"
        [matDatepicker]="massPicker"
        placeholder="(Optional)"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="massPicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #massPicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Folder (Optional)</mat-label>

      <mat-select #massFolder formControlName="massFolder">
        <mat-option *ngFor="let folder of folders" [value]="folder.id">{{
          folder.name
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <button type="submit">Submit</button>
  </form>
</div>
