@import "../../../../../assets/styles.scss";

.mass-edit-overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100vw;
  height: 100vh;
  z-index: 99;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;

  > form {
    display: flex;
    height: fit-content;
    width: fit-content;
    padding: 4vh 3vw;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
    border-radius: 8px;
    gap: 2vh;
    position: absolute;

    @media screen and (max-width: 1275px) {
      width: 35vw;
    }

    @media screen and (max-width: 850px) {
      width: 50vw;
    }

    @media screen and (max-width: 680px) {
      width: 80vw;
      height: 65vh;
    }

    @media screen and (max-width: 350px) {
      height: 80vh;
    }

    > h1 {
      font-weight: 900;
    }

    > .close-form {
      position: absolute;
      top: 0;
      left: 0;
      margin-left: 15px;
      margin-top: 15px;

      &:hover {
        cursor: pointer;
        color: var(--accent);
      }
    }

    > .mass-edit-flex {
      display: flex;
      gap: 2vw;
      padding-bottom: 10px;
      font-size: 0.8rem;
      align-items: center;

      > button {
        border: none;
        border-radius: 8px;
        padding: 10px 15px;
        background-color: transparent;

        &:hover {
          cursor: pointer;
        }

        @media screen and (max-width: 306px) {
          font-size: 0.7rem;
          padding: 10px 10px;
        }
      }

      > #massBookmark {
        color: var(--text);
      }
      > .mass-delete-button {
        border: 2px solid var(--imp-button);
        color: var(--text);
        &:hover {
          background-color: var(--imp-button);
        }
      }
      > .mass-restore-button {
        border: 2px solid var(--accent);
        color: var(--text);
        &:hover {
          background-color: var(--accent);
        }
      }
    }

    > button {
      color: var(--text);
      border: none;
      border-radius: 8px;
      padding: 10px 20px;
      background-color: transparent;
      border: 2px solid var(--text);

      &:disabled {
        opacity: 0.5;
      }

      &:hover {
        background-color: var(--background2);
        cursor: pointer;
        color: var(--text2);
      }
    }
  }
}

