<div class="mass-edit-overlay">
  <form [formGroup]="massEditForm" (submit)="submitMassEditForm()">
    <mat-icon
      fontIcon="close"
      class="close-form"
      (click)="toggleForm()"
    ></mat-icon>
    <h1>MASS EDIT</h1>

    <div class="mass-edit-flex">
      @if (title !== 'Trash') {
        <button
          (click)="submitMassResDelForm('delete')"
          type="button"
          class="mass-delete-button"
          >
          Move to Trash
        </button>
      }
      @if (title === 'Trash') {
        <button
          (click)="submitMassResDelForm('restore')"
          type="button"
          class="mass-restore-button"
          >
          Restore All
        </button>
      }

      <mat-slide-toggle
        [hideIcon]="true"
        #massBookmark
        formControlName="massBookmark"
        >Bookmark All</mat-slide-toggle
        >
      </div>

      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label for="massTitle">Title (Optional)</mat-label>
        <input matInput type="text" #massTitle formControlName="massTitle" />
      </mat-form-field>

      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Folder (Optional)</mat-label>

        <mat-select #massFolder formControlName="massFolder">
          @for (folder of folders; track folder) {
            <mat-option [value]="folder.id">{{
              folder.name
            }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <button type="submit" [disabled]="!massEditForm.dirty">Submit</button>
    </form>
  </div>
