<div class="mass-edit-overlay">
  <form [formGroup]="massEditForm" (submit)="submitMassEditForm()">
    <mat-icon
      fontIcon="close"
      class="close-form"
      (click)="toggleForm()"
    ></mat-icon>
    <h1>Mass Edit</h1>

    <div class="mass-edit-flex">
      @if (title !== "Trash") {
        <p-button (click)="submitMassResDelForm('delete')" severity="danger">
          Move to Trash
        </p-button>
      }
      @if (title === "Trash") {
        <p-button (click)="submitMassResDelForm('restore')" severity="success">
          Restore All
        </p-button>
      }

      <span>
        <p style="padding-bottom: 8px">Bookmark</p>
        <p-toggleswitch
          name="Bookmark"
          formControlName="massBookmark"
          #massBookmark
        />
      </span>
    </div>

    <p-floatlabel variant="on">
      <label for="massTitle">Title (Optional)</label>
      <input pInputText type="text" #massTitle formControlName="massTitle" />
    </p-floatlabel>

    <p-select
      formControlName="massFolder"
      #massFolder
      [options]="folders"
      optionLabel="name"
      optionValue="id"
      placeholder="Select folder"
    ></p-select>

    <p-button type="submit" [disabled]="!massEditForm.dirty">Submit</p-button>
  </form>
</div>
