@import "../../../../assets/sharedstyles.scss";

.folders-container {
  margin-left: 5vw;

  .create-folder-button {
    display: flex;
    align-items: center;
    border: 1px solid var(--textSec);
    border-radius: 8px;
    padding: 8px 15px;
    margin-bottom: 20px;
    gap: 5px;
    max-width: fit-content;

    background: lch(8.3 1.867 272);
    border: 1px solid lch(18.24 4.707 272);
    box-shadow: rgba(0, 0, 0, 0.07) 0px 4px 44px;
    touch-action: auto !important;

    &:hover {
      cursor: pointer;
      border-color: var(--text);
    }
  }

  > .folders-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    row-gap: 1vh;
    column-gap: 0.5vw;
    width: 95%;

    > .folders-item {
      display: flex;
      align-items: center;
      border: 1px solid var(--textSec);
      border-radius: 8px;
      padding: 10px 10px;
      gap: 5px;

      background: lch(8.3 1.867 272);
      border: 1px solid lch(18.24 4.707 272);
      box-shadow: rgba(0, 0, 0, 0.07) 0px 4px 44px;

      transition: border-color 0.1s ease-in-out;
      touch-action: auto !important;

      > p {
        font-weight: 500;
      }

      > .faq-icon {
        color: var(--text);
        transform: scale(1.2);
      }

      &:hover {
        cursor: pointer;
        border-color: var(--text);
      }

      > .folders-item-flex {
        display: flex;
        width: 100%;
        gap: 10px;
        align-items: center;

        > p {
          font-weight: 500;
        }
      }

      > .folders-item-options {
        display: flex;
        align-items: center;
        margin-left: auto;
        gap: 10px;

        > * {
          transition: transform 0.1s;

          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }

  > .folders-buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
}
