<app-main-sidebar></app-main-sidebar>
<app-main-nav
  [folderId]="this.tempId"
  (searchResults)="displayResults($event)"
  (sortByResults)="sortResults($event)"
></app-main-nav>
<p-toast />

<main class="folders-container">
  <!-- Sharing Folder Form -->
  <p-dialog
    header="Share Folder"
    [modal]="true"
    [(visible)]="shareWindowOpened"
    [style]="{ width: '25rem' }"
  >
    <form [formGroup]="shareFolderForm" (submit)="shareFolder()">
      <div class="items-center gap-4 mb-4">
        This folder's URL will be located here:
        @if (tempShareUrl) {
          <p>linkstorage.net/public/{{ tempShareUrl }}</p>
        }
      </div>

      <div class="flex items-center gap-4 mb-4">
        <label for="passwordToggle">Password</label>
        <p-toggleswitch
          #passwordToggle
          formControlName="passwordToggle"
          (click)="togglePasswordInput()"
        />
      </div>

      <div class="flex items-center gap-4 mb-4">
        <p-floatlabel variant="on">
          <label>Password</label>
          <input pInputText type="password" formControlName="password" />
        </p-floatlabel>
      </div>

      <p-button label="Submit" type="submit" />
    </form>
  </p-dialog>

  @if (folderOpened) {
    <div class="folders-buttons">
      <p-button class="folders-button folders-back" (click)="closeFolder()">
        < Go Back
      </p-button>

      @if (tempShare) {
        <p-button
          class="folders-button folders-share"
          (click)="toggleShareWindow()"
        >
          Share Folder
        </p-button>
      }

      @if (!tempShare) {
        <p-button
          severity="info"
          class="folders-button folders-share"
          (click)="unshareFolder()"
        >
          Unshare Folder
        </p-button>
      }
    </div>
  }

  <!--Folders Tab-->
  @if (!folderOpened) {
    <!--Create Folder Button-->
    <div (click)="toggleWindow()" class="create-folder-button">
      <span style="display: flex; align-items: center; gap: 5px">
        <i class="pi pi-plus" style="font-size: 0.8rem"></i>
        <p>Create Folder</p></span
      >
    </div>

    <!--Create Folder Form-->
    <p-dialog
      header="Create Folder"
      [modal]="true"
      [(visible)]="windowOpened"
      [style]="{ width: '25rem' }"
    >
      <form [formGroup]="createFolderForm" (submit)="createFolder()">
        <div class="flex items-center gap-4 mb-4" style="padding-top: 10px">
          <label for="folderName">Name</label>
          <input
            pInputText
            #folderName
            class="flex-auto"
            autocomplete="off"
            type="text"
            formControlName="folderName"
            required
          />
        </div>
        <p-button label="Create" type="submit" />
      </form>
    </p-dialog>

    <!-- Edit Folder Form -->
    <p-dialog
      header="Edit Folder"
      [modal]="true"
      [(visible)]="editWindowOpened"
      [style]="{ width: '25rem' }"
    >
      <form [formGroup]="createFolderForm" (submit)="editFolder()">
        <div class="flex items-center gap-4 mb-4" style="padding-top: 10px">
          <label for="editFolderName">Name</label>
          <input
            pInputText
            class="flex-auto"
            autocomplete="off"
            type="text"
            #editFolderName
            formControlName="editFolderName"
          />
        </div>
        <p-button label="Submit" type="submit" />
      </form>
    </p-dialog>

    <!-- Folders Items Grid -->
    <section class="folders-grid">
      @if (loadingService.isLoading$ | async) {
        <p-progress-spinner
          strokeWidth="5"
          fill="transparent"
          animationDuration=".75s"
          [style]="{ width: '35px', height: '35px' }"
        />
      }
      @for (folder of folders; track folder) {
        <div
          class="folders-item"
          (click)="openFolder(folder.id)"
          pTooltip="{{ folder.name }} has {{ folder.links.length }} links"
          tooltipPosition="bottom"
        >
          <div class="folders-item-flex">
            <i class="pi pi-folder"></i>
            <p>
              {{ folder.name | slice: 0 : 10
              }}{{ folder.name.length > 10 ? "..." : "" }}
            </p>
          </div>
          <div class="folders-item-options">
            <i
              class="pi pi-pencil"
              (click)="$event.stopPropagation(); toggleEditWindow(folder.id)"
              pTooltip="Edit Folder"
            ></i>

            <i
              class="pi pi-trash"
              pTooltip="Delete Folder"
              (click)="$event.stopPropagation(); deleteFolder(folder.id)"
            ></i>
          </div>
        </div>
      }
    </section>
  }

  <!--Links Tab-->
  @if (folderOpened && tempLinks) {
    <section
      [ngClass]="
        previews === true ? 'content-grid' : 'content-grid-no-previews'
      "
    >
      @for (link of tempLinks; track link; let i = $index) {
        <div>
          <app-link-item
            [index]="i"
            [isOptionsVisible]="showLinkOptions === i"
            (showOptionsChange)="setShowLinkOptions($event)"
            [itemData]="link"
            (showEmbed)="setEmbed($event)"
            (showWebPreview)="setWebView($event)"
            (linkUpdate)="deleteLink($event)"
          ></app-link-item>
        </div>
      }
    </section>
  }
</main>

@if (!hideEmbedLink && showEmbedLink) {
  <app-viewer
    [itemData]="showEmbedLink"
    (closeEmbedEmit)="closeEmbed()"
  ></app-viewer>
}

@if (!hideWebPreview && showWebPreview) {
  <app-web-view
    [linkData]="showWebPreview"
    (closeWindow)="closeWebView()"
  ></app-web-view>
}
