@import "../../../../assets/sharedstyles.scss";

.folders-container {
  margin-top: 2vh;
  margin-left: 13vw;

  @media screen and (max-width: 720px) {
    margin-left: 5vw;
  }

  @media screen and (max-width: 340px) {
    margin-left: 10vw;
  }

  > .folders-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    row-gap: 3vh;
    column-gap: 1vw;
    width: 95%;

    > .folders-item {
      display: flex;
      align-items: center;
      border: 2px solid var(--text);
      border-radius: 10px;
      padding: 10px;
      gap: 5px;
      height: 50px;
      transition: border-color 0.1s ease-in-out;
      touch-action: auto !important;

      > p {
        font-weight: 600;
      }

      > .faq-icon {
        color: var(--text);
        transform: scale(1.2);
      }

      &:hover {
        cursor: pointer;
        border-color: var(--accent);
      }

      > .folders-item-flex {
        display: flex;
        width: 100%;
        gap: 5px;
        align-items: center;

        > mat-icon {
          color: var(--text);
        }

        > p {
          font-weight: 600;
        }
      }

      > .folders-item-options {
        display: flex;
        align-items: center;
        margin-left: auto;

        > * {
          transition: transform 0.1s;

          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }

    > .folders-create-overlay {
      position: fixed;
      background-color: rgba(0, 0, 0, 0.8);
      height: 100vh;
      width: 100vw;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 99;

      > .folders-create {
        width: 27vw;
        height: 30vh;
        background-color: var(--background);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 2vh 0.5vw;

        > h3 {
          padding-bottom: 10px;
        }

        @media screen and (max-width: 1275px) {
          width: 35vw;
        }

        @media screen and (max-width: 850px) {
          width: 50vw;
        }

        @media screen and (max-width: 625px) {
          width: 80vw;
        }

        > .folders-create-close {
          transform: scale(1);
          margin: 15px 15px;

          &:hover {
            color: var(--accent);
            cursor: pointer;
          }
        }

        > .folders-create-button {
          border: none;
          border-radius: 10px;
          border: 2px solid var(--text);
          background-color: transparent;
          font-weight: bold;
          padding: 10px 0;
          width: 75px;
          transition: background-color 0.1s ease-in-out;
          color: var(--text);
          gap: 5px;

          &:disabled {
            opacity: 0.5;
          }

          &:hover {
            background-color: var(--background2);
            cursor: pointer;
            color: var(--text2);
          }
        }

        > * {
          margin-left: 3vw;
        }
      }
    }
  }

  > .folders-share-overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;

    > .folders-share {
      width: 30vw;
      height: 60vh;
      background-color: var(--background);
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      gap: 15px;
      padding: 2vh 0.5vw;
      z-index: 99;
      font-weight: 500;

      @media screen and (max-width: 1275px) {
        width: 35vw;
      }

      @media screen and (max-width: 850px) {
        width: 60vw;
      }

      @media screen and (max-width: 625px) {
        width: 80vw;
        height: 65vh;
      }

      > .folders-share-close {
        transform: scale(1);
        margin-left: 1vw;

        &:hover {
          color: var(--accent);
          cursor: pointer;
        }
      }

      > .folders-share-url {
        padding-bottom: 4vh;

        > p {
          color: var(--accent);
          margin-top: 10px;
        }
      }

      > .folders-share-button {
        border: none;
        border-radius: 10px;
        border: 2px solid var(--text);
        background-color: transparent;
        font-weight: bold;
        padding: 1vh 0vw;
        width: 75px;
        transition: background-color 0.1s ease-in-out;
        color: var(--text);
        gap: 5px;
        margin-top: 2vh;

        &:disabled {
          opacity: 0.5;
          &:hover {
            cursor: default;
          }
        }

        &:hover {
          background-color: var(--background2);
          color: var(--text2);
          cursor: pointer;
        }
      }

      > .folders-share-hint {
        font-size: 0.8rem;
        margin-top: 5px;
      }

      > * {
        margin-left: 3vw;
      }
    }
  }

  > .folders-buttons {
    display: flex;
    gap: 10px;

    > .folders-button {
      border: none;
      border-radius: 10px;
      border: 2px solid var(--text);
      background-color: transparent;
      font-weight: 700;
      padding: 10px 25px;
      transition: background-color 0.1s ease-in-out;
      color: var(--text);
      display: flex;
      align-items: center;
      gap: 3px;
      font-size: 0.75rem;

      @media screen and (max-width: 350px) {
        padding: 7px 15px;
      }

      &:hover {
        background-color: var(--background2);
        cursor: pointer;
        color: var(--text2);
      }
    }
  }
}

mat-form-field {
  width: 20vw;

  @media screen and (max-width: 1275px) {
    width: 25vw;
  }

  @media screen and (max-width: 850px) {
    width: 45vw;
  }

  @media screen and (max-width: 625px) {
    width: 70vw;
  }
}
