<app-main-sidebar></app-main-sidebar>
<app-main-nav
  [title]="'Folders'"
  [folderId]="this.tempId"
  (searchResults)="displayResults($event)"
></app-main-nav>

<main class="folders-container">
  <!-- Sharing Folder Form -->
  <div class="folders-share-overlay" *ngIf="shareWindowOpened">
    <form
      class="folders-share"
      [formGroup]="shareFolderForm"
      (submit)="shareFolder()"
    >
      <mat-icon
        fontIcon="close"
        (click)="toggleShareWindow()"
        class="folders-share-close"
      ></mat-icon>

      <h3>Share</h3>

      <section class="folders-share-url">
        Your URL will be generated here:

        <p *ngIf="this.tempShareUrl.url">
          localhost:4200/public/{{ this.tempShareUrl.url }}
        </p>
      </section>

      <mat-label for="passwordToggle">Password Locked</mat-label>
      <mat-slide-toggle #passwordToggle formControlName="passwordToggle">
      </mat-slide-toggle>

      <mat-form-field *ngIf="shareFolderForm.value.passwordToggle === true">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" />
      </mat-form-field>

      <button type="submit" class="folders-share-button">Share</button>

      <p class="folders-share-hint">
        *Your username will be shown when sharing
      </p>
    </form>
  </div>

  <div class="folders-buttons">
    <button
      class="folders-button folders-back"
      *ngIf="folderOpened"
      (click)="closeFolder()"
    >
      <mat-icon fontIcon="arrow_back"></mat-icon>
      Go Back
    </button>

    <button
      class="folders-button folders-share"
      (click)="toggleShareWindow()"
      *ngIf="folderOpened"
    >
      <mat-icon fontIcon="share"></mat-icon>
      Share Folder
    </button>

    <button class="folders-button folders-share" *ngIf="folderOpened">
      <mat-icon fontIcon="share"></mat-icon>
      Unshare
    </button>
    <!-- Are you sure? -->
    <!-- The folder page will have "LinkStorage, sign up today!" -->
    <!-- And Folder By: ...-->
  </div>

  <section class="folders-grid" *ngIf="!folderOpened">
    <div class="folders-item" (click)="toggleWindow()">
      <mat-icon fontIcon="add" style="color: #fcc466"></mat-icon>
      <p>Create a new folder</p>
    </div>

    <!--Create Folder Form-->
    <div class="folders-create-overlay" *ngIf="windowOpened">
      <form
        class="folders-create"
        [formGroup]="createFolderForm"
        (submit)="createFolder()"
      >
        <mat-icon
          fontIcon="close"
          (click)="toggleWindow()"
          class="folders-create-close"
        ></mat-icon>

        <h3>Create a Folder</h3>

        <mat-form-field appearance="outline">
          <mat-label for="folderName">Folder Name</mat-label>
          <input
            matInput
            type="text"
            #folderName
            formControlName="folderName"
          />
        </mat-form-field>
        <button type="submit" class="folders-create-button">Create</button>
      </form>
    </div>

    <!--Edit Folder Form-->
    <div class="folders-create-overlay" *ngIf="editWindowOpened">
      <form
        class="folders-create"
        [formGroup]="createFolderForm"
        (submit)="editFolder()"
      >
        <mat-icon
          fontIcon="close"
          (click)="toggleEditWindow('none')"
          class="folders-create-close"
        ></mat-icon>

        <h3>Edit</h3>

        <mat-form-field appearance="outline">
          <mat-label for="editFolderName">Folder Name</mat-label>
          <input
            matInput
            type="text"
            #editFolderName
            formControlName="editFolderName"
          />
        </mat-form-field>
        <button
          type="submit"
          class="folders-create-button"
          [disabled]="!createFolderForm.dirty"
        >
          Edit
        </button>
      </form>
    </div>

    <div
      *ngFor="let folder of folders"
      class="folders-item"
      (click)="openFolder(folder.id)"
    >
      <div class="folders-item-flex">
        <mat-icon fontIcon="folder" style="color: #fcc466"></mat-icon>
        <p>
          {{ folder.name | slice: 0 : 10
          }}{{ folder.name.length > 10 ? "..." : "" }}
        </p>
      </div>

      <div class="folders-item-options">
        <mat-icon
          fontIcon="edit"
          (click)="$event.stopPropagation(); toggleEditWindow(folder.id)"
        ></mat-icon>
        <mat-icon
          fontIcon="close"
          style="color: #f73830"
          (click)="$event.stopPropagation(); deleteFolder(folder.id)"
        ></mat-icon>
      </div>
    </div>
  </section>

  <section class="content-grid" *ngIf="folderOpened && tempLinks">
    <div *ngFor="let link of tempLinks">
      <app-link-item
        [itemData]="link"
        (linkUpdate)="deleteLink($event)"
      ></app-link-item>
    </div>
  </section>
</main>
