@import "../../../../assets/sharedstyles.scss";

.folders-container {
  margin-top: 2vh;
  margin-left: 5vw;

  > .folders-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    row-gap: 2vh;
    column-gap: 0.5vw;
    width: 95%;

    > .folders-item {
      display: flex;
      align-items: center;
      border: 2px solid var(--text);
      border-radius: 8px;
      padding: 5px 10px;
      gap: 5px;

      transition: border-color 0.1s ease-in-out;
      touch-action: auto !important;

      > p {
        font-weight: 600;
      }

      > .faq-icon {
        color: var(--text);
        transform: scale(1.2);
      }

      &:hover {
        cursor: pointer;
        border-color: var(--accent);
      }

      > .folders-item-flex {
        display: flex;
        width: 100%;
        gap: 5px;
        align-items: center;

        > mat-icon {
          color: var(--text);
        }

        > p {
          font-weight: 600;
        }
      }

      > .folders-item-options {
        display: flex;
        align-items: center;
        margin-left: auto;
        gap: 5px;

        > * {
          transition: transform 0.1s;

          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }

    > .folders-create-overlay {
      position: fixed;
      background-color: rgba(0, 0, 0, 0.8);
      height: 100vh;
      width: 100vw;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 99;

      > .folders-create {
        width: fit-content;
        height: fit-content;
        background-color: var(--background);
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 2vh 4vw;

        > h3 {
          padding-bottom: 10px;
        }

        > .folders-create-close {
          transform: scale(1);

          &:hover {
            color: var(--accent);
            cursor: pointer;
          }
        }
      }
    }
  }

  > .folders-share-overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;

    > .folders-share {
      width: fit-content;
      height: fit-content;
      background-color: var(--background);
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      gap: 15px;
      padding: 3vh 2vw;
      z-index: 99;

      > .folders-share-close {
        transform: scale(1);
        &:hover {
          color: var(--accent);
          cursor: pointer;
        }
      }

      > .folders-share-url {
        padding-bottom: 4vh;

        > p {
          color: var(--accent);
          margin-top: 10px;
        }
      }

      > .folders-share-hint {
        font-size: 0.8rem;
        margin-top: 5px;
      }
    }
  }

  > .folders-buttons {
    display: flex;
    gap: 10px;
  }
}
